<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">Satış</h1>
            <p><strong>Firma, İlgili Kişi, Aktivite, Randevu, Ziyaret, Potansiyel, Ürün, Teklif, Çağrı, Sözleşmeler, İhaleler ve Gelen Giden Evrak  modüllerini içerir. Özetle modülde yapılabilenler aşağıda listelenmektedir;</strong></p>
            <p>- Firma ve İlgili Kişi modüllerinin adres defteri olarak kullanılabilmesi</p>
            <p>- Firmalara ait çeşitli türde aktivitelerin kaydı ve takibi</p>
            <p>- Takvim üzerinden Randevu planlama ve Randevu takibi yapabilme</p>
            <p>- Adres defterinde bulunan bir firma veya kişinin geçmişe yönelik aktif takibi (Geçmişte neler satılmış, hangi aktivite ve ziyaretler yapılmış vb...)</p>
            <p>- Potansiyellerin takibi</p>
            <p>- Potansiyellerin bir Web form veya excel üzerinden sisteme kolayca alımı</p>
            <p>- Ürünlerin kaydı ve takibi</p>
            <p>- Teklifleri istenilen formlarda hazırlama, tekliflerin takibi ve iş akışları otomasyonu ile teklif süreçlerinde diğer yapılması gerekenler</p>
            <p>- Teklif Yazılımı olarak aktif olarak kullanılabilir.</p>
            <p>- Mobil Teklif Yazılımı olarak kullanılabilir.</p>
            <p>- Telefon ile gelen ve giden çağrılan kaydı ve takibi</p>
            <p>- Satış sonrası yapılan sözleşmelerin takibi, dosyalarının yüklenmesi ve sistemde saklanması</p>
            <p>- İhalelerin kendine özgü bilgileri ile kaydı, ihale sonrası fiyat analizi yapabilme</p>
            <p>- İhale Modülü ile birlikte Teklif Yazılımı olarak kullanılabilir. Böylelikle Teklif Yazılımı ile İhale Yazılımı entegre olarak kullanılabilir.</p>
            <p>- Dinamik Raporlama sayesinde sisteme girişi yapılan tüm bilgilerin istenilen şekilde tablo ve grafiksel olarak raporlanabilmesi</p>
            <p>- Bunların haricinde modül ile ilgili ihtiyaç duyulan fonksiyon ve formlar SetCRM Maya'nın dinamik özellikleri sayesinde firmanızın ihtiyacına göre eklenebilmektedir.</p>
        </div>
    </div>
</div>
