<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">Entegrasyon</h1>
            
            <p> SetCRM Maya çift yönlü entegrasyona imkan sağlamaktadır. </p>
            <p> Dışarıdan veri yazma ve okumak için sistemde bulunan API üzerinden istediğiniz uygulama ile entegre edebilirsiniz. Gerekli dökümanlar için; http://apitest.setcrm.com</p>
            <p> SetCRM Maya üzerinden dışardan veri okuma ve yazma için ise iş akışlarındaki HTTP request mantığı uygulanarak istenilen uygulamalar ile entegre olunabilir.</p>
           
            <h1 style="color: #c0ca33 !important; text-align: left; padding-top: 100px;">Özel Entegrasyon</h1>

            <p>Çeşitli muhasebe programları ve ERP'ler için (Logo, Netsis, SAP vb...) özel entegrasyon mevcuttur. Herhangi ek bir maliyet gerektirmeden bu uygulamalar ile entegre olunabilir.</p>
            <p>SetCRM MAYA Microsoft Excel ile özel entegrasyonu mevcuttur. Excel içerisindeki Makro sayesinde excel üzerinden herhangi bir tarayıcı açmadan sisteme giriş yapıp istenilen veriyi toplu olarak
                atabilir veya çekebilirsiniz. Veri aktarımında validasyon mevcuttur. Ayrıca istenilen raporlar bu makro ile çekilerek Excel üzerinde özgürce istenilen raporlar tasarlanabilir.</p>







        </div>
    </div>
</div>
