<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
          <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">Pazarlama</h1>
            <p><strong>Firma, İlgili Kişi, Kampanya modüllerini içerir. Özetle modülde yapılabilenler aşağıda listelenmektedir;</strong></p>
            <p>- Çeşitli Kampanyalar oluşturma</p>
            <p>- Oluşturulan Kampanyalar ışığında Teklifte otomatik fiyat hesaplaması</p>
            <p>- Hangi Müşterilerin hangi kampanyalardan faydanlandığını takip etme imkanı</p>
            <p>- Toplu SMS ve Toplu E-mail entegrasyonu</p>
            <p>- Adres Defterinde bulunan Firma ve Kişi bilgileri üzerinden SMS ve E-mail izin takibi</p>
            <p>- Bu bilgiler ışığında izinli firma ve kişileri süzme imkanı</p>
            <p>- Dinamik Raporlama sayesinde sisteme girişi yapılan tüm bilgilerin istenilen şekilde tablo ve grafiksel olarak raporlanabilmesi</p>
            <p>- Bunların haricinde modül ile ilgili ihtiyaç duyulan fonksiyon ve formlar SetCRM Maya'nın dinamik özellikleri sayesinde firmanızın ihtiyacına göre eklenebilmektedir.</p>
        </div>
    </div>
</div>
