<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%;margin-bottom: 200px">
            <h1>  Yazılım ve İnternet Hizmetleri Sözleşmesi</h1>
            <p><strong>Şirket:</strong> Argeset Dan. San. Ltd.Şti. ("ARGESET" olarak anılacaktır.)</p>
            <p>
                <strong>Müşteri:</strong> Argeset Dan. San. Ltd.Şti. Üzerinden Hizmet ve/veya Ürün Alan Kişi / Kuruluş aşağıda
                belirtilen hükümler uyarınca taraflar arasında anlaşmaya varmışlardır.
            </p>
            <p><strong>Tanımlar</strong></p>
            <p>1. "SetCRM MAYA", Argeset'in geliştirdiği internet sunucuları üzerinde çalışan E-Şirket çözümüdür.</p>
            <p>
                2. MÜŞTERİ'nin Argeset tarafından istenen şekil ve nitelikte, SetCRM MAYA E-Şirket ürününe müşteri
                tarafından yerleştirilmek üzere elektronik ortamda bulundurmak için sağladığı ve üretilmiş olarak
                hazır bulunan her türlü doküman, grafik, resim dosyasına 'Konu Materyalleri' adı verilir.
            </p>
            <p>
                3. KONU MATERYALLERİ 'nin Internet üzerindeki sunucu bir bilgisayar sistemine yerleştirilip erişime
                olanak tanınması olayına 'Barındırma yada Hosting' denir.
            </p>
            <p><strong>Hizmet ve Yükümlülükler</strong></p>
            <p>
                1. Argeset sunucularında sunumu yapılan hiçbir yazılı, sesli veya görsel içerik, materyal Türkiye
                Cumhuriyeti Kanunlarına aykırı olamaz. Aksi takdirde doğan ve doğacak olan tüm maddi ve manevi
                sorumluluklar Müşteri'ye aittir. Argeset yükümlü değildir.
            </p>
            <p>
                2. Argeset, Müşteri'nin servisleri kullanımından veya hatalı kullanımından, sayfa içeriklerinden,
                elektronik posta (e-mail) ile alınan veya gönderilen bilgi, resim, yazı vs. den, doğan ve doğacak
                olan maddi veya manevi zararlardan dolayı sorunlu tutulamaz. Sorumluluk, Müşteri'ye aittir.
            </p>
            <p>
                3. Argeset, Müşteri'nin her türlü verisini düzenli bir şekilde korumak ve yedeklemek için elinden geleni
                yapar Müşteri, telif hakları yasasına uymak zorundadır. Telif hakkı başkasına ait yazı, metin, resim
                vs. dokümanların izinsiz kopyalanması ve bunların müşteri sayfalarında yayınlanması ve
                bulundurulmasından dolayı çıkacak anlaşmazlıklarda, Argeset taraf olarak gösterilemez, maddi veya
                manevi olarak sorumlu tutulamaz. Bu gibi durumlarda, üçüncü şahıslara taraf Müşteri'dir ve
                doğacak olan bütün maddi veya manevi zararları karşılamayı Müşteri kabul eder. Bu gibi
                durumlarda Argeset anlaşmayı fesih etme hakkını saklı tutar.
            </p>
            <p>
                4. Müşteri verilerinde, hiçbir şekilde, pornografi, erotizm, vahşet, ahlaki ve kanuni değerlere aykırı,
                yazılı veya görsel içerik, telif hakları alınmış ve ücretsiz dağıtımına izin verilmemiş her türlü
                materyal, korsan yazılımlar bulundurmayacağını kabul eder. Bulundurduğu taktirde Argeset
                sorumlu tutulamaz, sorumluluk Müşteri'ye aittir. Argeset, bu maddenin ihlali durumunda anlaşmayı
                fesih etme hakkına sahiptir.
            </p>
            <p>
                5. Müşteri ödemelerini belirlenen dönemlerde yapmalıdır. Belirli ödemelerin zamanında yapılmaması
                durumunda, Argeset, Müşteri'nin hesabını kapatma ve sözleşmeyi fesih etme hakkını saklı tutar.
            </p>
            <p>6. Argeset, yapılan sözleşmede belirtilen işlemleri zamanında yapmakla yükümlüdür.</p>
            <p>
                7. Argeset sunucularını kullanarak 3. şahıslara ücretsiz hizmetler (e-mail, sayaç, form, top-site, anket
                vb. programlar) veremez ve verilen servisleri kötüye kullanamaz. Argeset, bu maddenin ihlali
                durumunda anlaşmayı fesih etme hakkına sahiptir.Uğradığı zarardan dolayı Tazminat hakkını saklı
                tutar.
            </p>
            <p>
                8. Müşteri kesinlikle spam e-mail gönderemez. İnternet kullanıcılarını dil, sıklık yada dosya boyutu
                açısından rahatsız edecek e-mailler yollayamaz. İnternet kullanıcılarına istekleri dışında ticari
                reklam e-mailleri yollayamaz. Aksi uygulama sonucu oluşacak zarardan dolayı Tazminat hakkını
                saklı tutar.
            </p>
            <p>
                9. Müşteri kesinlikle Argeset sistemlerini diğer İnternet kullanıcılarını zor durumda bırakmak,
                sistemlerine zarar vermek, sistemlerinin işleyişini engellemek, bu sistemlerden veri çalmak veya bu
                sistemleri herhangi bir şekilde yanıltmak için kullanamaz. Müşteri hiçbir şekilde Argeset
                sistemlerinin güvenliğini tehdit edecek girişimlerde ve uygulamalarda bulunamaz. Örnek olarak
                (fakat bunlarla sınırlı değildir): Sisteme yada sistemin herhangi bir bölümüne yetki dışı izinsiz giriş,
                kullanım, güvenlik taramaları, sistem kaynakları ve trafiğini ölçme ve test işlemleri, e-mail
                bombardımanı, DoS (Denial Of Service) saldırıları ve sistemi aşırı yükleme girişiminde bulunan
                saldırılarda bulunmak yasaktır. Argeset bu maddenin ihlali durumunda anlaşmayı fesih etme
                hakkına sahiptir. Uğradığı zarardan dolayı Tazminat hakkını saklı tutar.
                Müşteri kesinlikle Argeset sistemlerinin kaynaklarını (bunlarla sınırlı olmamakla birlikte örneğin:
                CPU, RAM ve Network kaynakları), Argeset’in diğer müşterilerine verdiği hizmetleri engelleyecek
                veya kısıtlayacak şekilde yüksek oranda kullanamaz. Bu durumda Argeset müşteriden sistem
                kaynaklarının kullanımını kabul edilebilir bir seviyeye indirmesini yada kullandığı kaynakları
                karşılamak için gereken ilave teknik donanım ve kaynakların bedelini talep edebilir. Aksi taktirde
                Argeset sözleşmeyi fesih etme hakkına sahiptir.
            </p>
            <p>
                10. Argeset SetCRM MAYA kullanımıyla ilgili(İstanbul Dışında ise uzak masa üstü bağlantısı ile)1 saat
                ücretsiz eğitim verecektir. Bunun dışında ki eğitim taleplerinden ücret isteme hakkını saklı tutar.
            </p>
            <p>11. Argeset SetCRM MAYA'ın kullanımından doğabilecek herhangi bir zarardan sorumlu tutulamaz.</p>
            <p>
                12. "SetCRM MAYA" içerik yönetimi vb. uygulamaları ile kişiselleştirilebilir bir ürün olduğundan, ürünün
                tüm içeriğinden müşteri sorumludur. İnternet hizmetleri için geçerli olan maddeler aynen geçerli
                olacaktır.
            </p>
            <p>
                13. Argeset, müşteri kullanımının sürekliliği için gerekli servisi vermekle yükümlüdür. Fakat internet
                hizmetinde ve/veya sunucularda oluşan teknik hatalar ile Argeset’in kontrolü dışında oluşan
                kesintilerden dolayı sorumlu tutulamaz.
            </p>
            <p>
                14. Argeset, hizmetlerinin fiyatlarını değiştirme hakkını saklı tutar.
                Müşteri, işbu sözleşme hükümlerinin yanında Argeset’in www.setcrm.com,
                www.maya.setcrm.com,www.argeset.com,www.yardim.setcrm.com
                adresinden ulaşılabilen ve Argeset tarafından tek taraflı olarak, önceden bildirmeksizin
                güncellenebilen servis kurallarını belirli dönemlerde mutabık kurallara aynen riayet etmekle
                mükelleftir. Aksi halde, hiçbir maddi ve/veya manevi talep de bulunamayacağı kabul, beyan ve
                taahhüt eder.
            </p>
            <p>
                15. Müşteri; Argeset’in KONU MATERYALLERİ'nin BİLGİ ve BELGELERİN üretilmesine hiçbir katkısının
                bulunmadığını ve söz konusu içerik hakkında hiçbir bilgisinin olmadığını kabul, beyan ve taahhüt
                eder.
            </p>
            <p>
                16. SetCRM MAYA içerisine yerleştirilecek Konu Materyallerin üretilmesi Bilgi ve Belgelerin
                yerleştirilmesi tamamen müşteriye ait olacaktır. Ancak Argeset Hizmet ve Yükümlülükler 1.12. de
                belirtildiği gibi SetCRM MAYA için 2 saat eğitim vermekle yükümlüdür. Eğitim uzaktan online
                sistemler yardımı ile yapılacaktır (bunlar Team Viewer , RDC vb.)
            </p>
            <p><strong>Genel Hükümler</strong></p>
            <p>
                1. Borçlar kanununda zorunlu neden olarak tarif edilen haller Zorunlu Nedenler (Force Major) olarak
                kabul edilecektir. Zorunlu Nedenler dolayısıyla sözleşmede belirlenmiş olan yükümlülüklerini yerine
                getiremeyecek ya da yerine getirmede gecikecek olan taraf, zorunlu nedenin ortaya çıkmasından
                itibaren mümkün olan en kısa sürede diğer tarafa yazılı olarak tebliğ edecektir
            </p>
            <p>
                2. Taraflar, Borçlar kanununda zorunlu neden olarak tarif edilen haller dolasıyla sözleşmeyi feshetme
                ve/veya sözleşmenin uygulanmaması ya da gecikmesi nedeniyle uğradıkları zararları talep etme
                hakkına sahip olmayacaktır. Zorunlu Nedenlerin sona ermesinden sonra sözleşmenin
                uygulanmasına devam edilecektir. Ancak şartlar iki 2(iki) ayı aşan bir sürede son bulmamışsa,
                taraflar iyi niyetle durumu değerlendirerek birlikte fesih kararı alabilecektir.
            </p>
            <p>
                3. Argeset olabilecek makul her türlü kaynağı kullanarak azami devamlılıkta ve işlerlikte bir servis
                verecektir, bununla beraber gecikmelerden doğabilecek bilgi kayıplarından, veya MÜŞTERİ'den
                kaynaklanan hatalı iletimlerden, Argeset'in kontrolü dışındaki arızalardan dolayı Argeset sorumlu
                tutulamaz.
            </p>
            <p>
                4. Müşteri, Argeset ile gerçekleştireceği işlemlerde Argeset'e gitmeden ve işlemlerin daha süratle
                gerçekleşmesi için e-mail, faks veya telefon ile talimat vermeyi ve Argeset tarafından kendisine
                yapılacak bildirimlerin e-mail, faks veya telefon ile yapılmasını kabul eder.Telefon ile yapılan acil
                bildirimlerin mail ile teyit edilmesi beklenir.Müşteri'nin Argeset ile Internet üzerinde yapacağı her
                türlü işlemler, sözleşmeler, ile bunlara ilişkin her türlü talimatlar işbu sözleşme kapsamındadır.
            <p>
                5. Müşteri, e-mail, faks veya telefon ile (Telefon ile yapılan acil bildirimlerin mail ile teyit edilmesi
                beklenir ) talimat iletilmesi ve bildirimlerin yapılmasından doğacak bütün sonuçları peşinen kabul
                etmiştir. Müşteri, Argeset’in işbu Sözleşme ile kendisine sağladığı kolaylıktan yararlanırken
                aşağıdaki hususları yerine getirecektir. Müşteri'nin Argeset’e talimat iletmede kullanacağı ve
                Argeset’in bildirimlerini yapacağı e-mail adresi, faks numarası, ve telefon numarası, Argeset’e
                bildirdiği şekilde olup doğruluğunu taahhüt eder. Değişiklik olduğu takdirde, Müşteri yeni
                numaraları derhal Argeset'e bildirecektir.
            </p>
            <p>
                6. Argeset, Müşteri'nin e-mail ile talimatını aldığında talimatın gereğini yerine getirecektir. Ancak,
                Argeset sistemsel sorun oluşacağını düşündüğü müşteri talimatlarını yerine getirmekten imtina
                etme hakkını saklı tutar.
            </p>
            <p>
                7. Argeset'ın ve personelinin genel olarak kendisine düşen dikkat ve ihtimamı gösterdiği karine olarak
                kabul edilir. Bunun aksini iddia eden Müşteri, ispat külfeti altındadır.
            </p>
            <p>
                8. Müşteri, işbu Sözleşmenin uygulanmasında ve Sözleşmeden doğabilecek uyuşmazlıklarda Argeset'ın
                defter kayıt ve belgelerinin, bilgisayar kayıtları ile mevcut olması durumunda elindeki telefon
                kayıtlarının, faks sistemiyle gönderilen talimat örneklerinin Argeset ile Müşteri arasındaki ilişkilerde
                müstenit aranmaksızın teyit edilmiş olsun veya olmasın kesin delil teşkil edeceğini kabul ve beyan
                eder.
            </p>
            <p>
                9. Müşteri ürün veya hizmeti internet üzerinden aldığında sözleşmenin taraflar arasında
                imzalanmasına gerek yoktur. Ürün ve/veya Hizmet alımı esnasında sözleşmeye onay vermesi yada
                kullanıcı oluşturarak Ürün ve/veya Hizmeti kullanmaya başlaması, e-mail gibi elektronik ortamda
                teyit edilmesi yada kullanıyorsa elektronik imza ile onaylaması sözleşmenin tüm hükümlerini kabul
                ediyor anlamına gelecektir.
            </p>
            <p><strong>Süre</strong></p>
            <p>
                İşbu sözleşme, 1 (bir) yıl için geçerlidir. İşbu sözleşme, hizmetin yenilenmesi ve tercih edilen
                döneme ilişkin hizmet bedellerinin ödenmesini müteakip söz konusu dönem için uzamış sayılacaktır.
            </p>
            <p><strong>Fesih Hakkı</strong></p>
            <p>
                Argeset, Müşteri'nin işbu Sözleşme konusu sorumluluk ve yükümlülüklerini ihlal ettiğini ve/veya
                gereği gibi yerine getirmediğini tespit ettiği takdirde, her zaman bir süreyle bağlı olmaksızın
                Sözleşmeyi tek taraflı ve tazminatsız olarak Müşteri'ye bildirimde bulunmak suretiyle feshetmeye,
                hizmeti durdurmaya veya askıya almaya yetkilidir. Tarafların Tebligat Adresi Müşteri tüm
                tebligatlar için Argeset'e bildirdiği adresini kanuni ikametgah olarak kabul ettiğini beyan ile, bu
                Sözleşmenin akdinden sonraki adres değişikliklerini Argeset'e derhal bildireceğini, bildirmediği
                takdirde, eski adrese yapılacak her türlü tebligatın kendilerine yapılmış sayılacağını kabul eder.
                İşbu sözleşme nedeniyle tarafların e-mail kullanarak birbirlerine yapacakları her türlü bildirim
                aynen geçerli olup, e-mail'in gönderici tarafından yollanmasından bir gün sonra karşı tarafa ulaştığı
                kabul edilecektir. Taraflar, bu husustaki her türlü itirazlarından peşinen feragat ederler. Yetkili
                Mahkeme ve İcra Daireleri Bu sözleşmeden doğacak her türlü anlaşmazlıklarda İstanbul Mahkeme
                ve İcra Dairelerinin yetkili olacağını taraflar kabul ederler.
            </p>
            <p><strong>Uygulanacak Hükümler</strong></p>
            <p>
                İşbu Sözleşme ile ilgili olarak çıkabilecek ihtilaflarda öncelikle bu sözleşmedeki hükümler
                uygulanacak olup, bu sözleşmede hüküm bulunmayan hallerde ise; ilgili mevzuat hükümleri
                uygulanır. Taraflar işbu sözleşmeden doğabilecek ihtilaflarda Argeset'ın defter ve kayıtları ile
                bilgisayar kayıtlarının H.U.M.K. 287. maddesi anlamında muteber, bağlayıcı, kesin ve münhasır delil
                teşkil edeceğini ve bu maddenin Delil Sözleşmesi niteliğinde olduğunu, belirtilen Argeset
                kayıtlarının usulüne uygun tutulduğunu kabul, beyan ve taahhüt ederler.
            </p>
            <p><strong>Gizlilik</strong></p>
            <p>
                Müşteri, kendisine iletilen özel bilgileri (özel bilgi; tarafların ve/veya sözlü elektronik formatta
                birbirlerine ilettiği her türlü ürün, teknoloji, prosedür, program, finansal bilgi ve hedefler, veri,
                know-how, tasarım, yazılım, müşteri listesi ve benzeri belgeleri içerir.) hiçbir şekilde başka amaçla
                kullanmayacak, dağıtamayacak, üçüncü kişilere aktaramayacaktır. Özel bilgiler. Müşteri tarafından
                gizli tutulacak ve bu bilgilerin yetkisiz kişilerce kullanılmasını önlemek üzere her türlü güvenlik
                önlemleri alacaktır. Aksi takdirde doğacak zararın tazmini esastır. İşbu sözleşmenin feshi halinde
                dahi bu madde yürürlükte kalacaktır.
            </p>
            <p><strong>Hizmet Şartları</strong></p>
            <p>
                Müşteri hizmet şartlarını ve buna uygun olarak yapacağı ödemelerinin şeklini, Argeset tarafından
                müşteriye gönderilen ve/veya
                Argeset'in"www.setcrm.com,www.maya.setcrm.com,www.argeset.com,www.yardim.setcrm.com "
                adresindeki sitesinde satın alma, hizmet uzatma veya yenileme anında beyan edilen yöntemlerden
                birini seçmek suretiyle belirleyecektir
            </p>
        </div>
    </div>
</div>
