<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">Gelişmiş Raporlama</h1>
           <p>Tüm modüllerdeki veriler esnek raporlama özellikleri sayesinde istenildiği şekilde raporlanabilir</p>
           <p>Oluşturulan raporlar üzerinden görsel grafikler oluşturma imkanı mevcuttur</p>
           <p>Bu görsel grafikler ve raporlar üzerinden birden fazla "Dashboard" oluşturulabilir</p>
           <p>Farklı dashboardlar üzerinden yetkilendirme yapılarak firma içerisinde kimlerin bu dashboardları görüntüleyeceği belirlenebilir.</p>
           <p>Örneğin, Satış Dashboard'da Temsilci bazında aylık satış tutarları ve ziyaret ortalamaları olurken, Servis Dashboard'da en fazla şikayet alınan 5 ürün ile en fazla arıza yapan 5 ürün listelenebilir
            ve bu listelemeler Pasta, XY, Kolon ve bunun gibi grafikler ile görüntülenebilir.</p>


        </div>
    </div>
</div>
