<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
       coming soon
    </div>
</div>
