<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">Servis</h1>
            <p><strong>Firma, İlgili Kişi, Aktivite, Randevu, Ziyaret, Yedek Parça, Ürün, Arıza Türü, Şikayet, Öneri, Çağrı, Arıza Bildirimi ve Servis Teklif modüllerini içerir. Özetle modülde yapılabilenler aşağıda listelenmektedir;</strong></p>
            <p>- Firma ve İlgili Kişi modüllerinin adres defteri olarak kullanılabilmesi</p>
            <p>- Takvim üzerinden Servis Randevu planlama ve Servis Randevu takibi yapabilme</p>
            <p>- Ürünlerin kaydı ve takibi</p>
            <p>- Satılan ürünlerin seri no veya diğer özgün bir veri üzerinden takibi</p>
            <p>- Ürünlere ait Arıza Türleri ve Yedek Parçaların aktif takibi</p>
            <p>- Web formlardan gelen, elle girilen veya excel ile içeri alınan şikayet ve önerilerin sistemden aktif takibi</p>
            <p>- Şikayet ve Öneriler üzerinden otomatik olarak gerekli iş akışlarının tetiklenmesi</p>
            <p>- Telefon ile gelen servis çağrılarının kaydının yapılması ve sonrasında gerekli iş akışlarının tetiklenmesi</p>
            <p>- Arıza Bildirimlerinin sistemde kaydı ve sonrasında gerekli iş akışlarının tetiklenmesi</p>
            <p>- Satışı yapılan ürünler için yedek Parça ve Satılan ürün bilgisi içerebilen istenilen formlarda Servis Teklif formu oluşturabilme</p>
            <p>- Dinamik Raporlama sayesinde sisteme girişi yapılan tüm bilgilerin istenilen şekilde tablo ve grafiksel olarak raporlanabilmesi</p>
            <p>- Bunların haricinde modül ile ilgili ihtiyaç duyulan fonksiyon ve formlar SetCRM Maya'nın dinamik özellikleri sayesinde firmanızın ihtiyacına göre eklenebilmektedir.</p>
        </div>
    </div>
</div>
