<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%;margin-bottom: 200px">
            <h1>Web Sitesi Kullanım Koşulları</h1>
            <p>
                Argeset yazılım Danışmanlık San.Tic.Ltd.Şti (Bundan sonra ARGESET olarak
                anılacaktır.) tarafından geliştirilen yazılımları içeren web sitelerini kullanan (Bundan
                Sonra “Kullanıcı”olarak anılacaktır.) kişi,kurum ve kuruluşların kullanım koşullarını
                kapsar.
            </p>
            <p><strong>Argeset tarafından yayınlanan web siteleri;</strong></p>
            <p>www.setcrm.com</p>
            <p>maya.setcrm.com</p>
            <p>www.argeset.com</p>
            <p>yardim.setcrm.com</p>
            <p>
                Bu sayfaları kullanılarak ARGESET’e iletilen kişisel bilgilerin kullanılması, Gizlilik Politikası bölümünde düzenlenen
                koşullar ile mümkün olmaktadır
            </p>
            <p><strong>Argeset Yazılım Tarafından Yayınlanan Web Sitelerini ziyaret ettiğiniz için teşekkür ederiz. </strong></p>
            <p>
                Bu web sitesinin sahibi ARGESET olup, site üzerinde her tür kullanım ve tasarruf yetkisi ARGESET’e aittir. Lütfen siteyi
                kullanmadan önce kullanım koşullarını dikkatle okuyunuz. Siteye girmek ve kullanmakla sitenin kullanım ve sözleşme
                kurallarını kabul etmiş olduğunuzu bildiririz.
            </p>
            <p>
                1.Argeset Yazılım, sözleşme şartları da dahil olmak üzere, site ve site uzantılarında mevcut her tür koşulu ve bilgiyi
                önceden herhangi bir ihtara hacet olmaksızın değiştirme hakkını saklı tutar. Değişiklikler sitede yayım anında yürürlüğe
                girer.
            </p>
            <p>
                2. İşbu siteye girilmesi veya sitenin kullanılması sonucunda ortaya çıkabilecek her tür ihtilaf Türkiye Cumhuriyeti
                kanunlarına tabi olup, ihtilafların çözümünde İstanbul Anadolu Yakası Mahkemeleri münhasıran yetkilidir. Argeset
                Yazılım’ın kullanıcının bulunduğu ülkede/Şehirde dava açma hakkı saklıdır.
            </p>
            <p>
                3. Argeset web sitelerinde mevcut olan bilgilerin doğruluk ve güncelliğini sürekli şekilde kontrol etmektedir. Ancak tüm
                itinalı çalışmaya rağmen, web sayfalarındaki bilgiler fiili değişikliklerin gerisinde kalabilir. Argeset web sitelerinde
                bulacağınız materyal ve bilgiler siteye verildiği anda sunulmuştur, ilgili hizmetin güncel durumu ile sitede yer alan durumu
                arasında farklılık olabilir. Web sitelerindeki bilgilerin, güncelliği, doğruluğu,şartları, kalitesi, performansı, pazarlanabilirliği,
                belli bir amaca uygunluğu ve Argeset Yazılım’ın WEB sayfasında yer alan ve bunlarla sınırlı olmayan, bunlarla bağlantılı
                veya bağımsız diğer bilgi, hizmet veya ürünlere etkisi ile tamlığı hakkında herhangi bir sarih ya da zımni garanti
                verilmemekte ve taahhütte bulunulmamaktadır.
            </p>
            <p><strong>Web Sayfasında Değişiklik Yapma Hakkı</strong></p>
            <p>
                Argeset işbu siteler ve site uzantısında mevcut her tür hizmet, ürün, siteyi kullanma koşulları ile sitede sunulan bilgileri
                önceden bir ihtara gerek olmaksızın değiştirme, siteyi yeniden organize etme, yayını durdurma hakkını saklı tutar.
                Değişiklikler sitede yayım anında yürürlüğe girer. Sitenin kullanımı ya da siteye giriş ile bu değişiklikler de kabul edilmiş
                sayılır. Bu koşullar link verilen diğer web sayfaları için de geçerlidir.
            </p>
            <p>
                Argeset, sözleşmenin ihlali, haksız fiil, ihmal veya diğer sebepler neticesinde; işlemin kesintiye uğraması, hata , ihmal,
                kesinti, silinme, kayıp, işlemin veya iletişimin gecikmesi, bilgisayar virüsü, iletişim hatası, hırsızlık, imha veya izinsiz
                olarak kayıtlara girilmesi, değiştirilmesi veya kullanılması hususunda herhangi bir sorumluluk kabul etmez.
            </p>
            <p><strong>Web Sayfalarına Link Verilmesi</strong></p>
            <p>
                Bu siteler üzerinden başka sitelere link verilmesi mümkündür, Argeset link verilen sayfalardaki bilgilerin doğruluğunu
                garanti etmemekte, herhangi bir taahhütte bulunmamaktadır.
            </p>
            <p><strong>Fikri Mülkiyet Haklarına İlişkin Uyarı</strong></p>
            <p>
                Argeset Web Sitelerinin sahibi Argeset Yazılım San ve Tic. Ltd. Şti.’dir. Bu sayfada bulunan bilgiler, yazılar, resimler,
                markalar, slogan ve diğer işaretler ile sair fikri mülkiyet haklarına ilişkin bilgilerin korunmasına yönelik programlarla,
                sayfa düzeni ve işbu web sayfasının sunumu Argeset Yazılım’ın ya da Argeset Yazılım’ın lisans aldığı kuruluşların
                mülkiyetindedir. Argeset önceden yazılı muvafakat alınmaksızın, işbu web sayfalarındaki bilgilerin ya da bu sayfaya
                ilişkin her tür veritabanı, web sitesi, software-code’ların kısmen ya da tamamen kopyalanması, değiştirilmesi,
                yayımlanması, online ya da diğer bir medya kullanılmak suretiyle gönderimi, dağıtımı, satılması yasaktır. Bu sayfadaki
                bilgilerin kısmen kopyalanması, basılması ancak ticari olmayan kişisel ihtiyaç için mümkündür.
            </p>
            <p><strong>Sorumluluğun Sınırlandırılması</strong></p>
            <p>
                Argeset, bu sitelere girilmesi, sitenin ya da sitedeki bilgilerin ve diğer verilerin programların vs. kullanılması sebebiyle,
                sözleşmenin ihlali, haksız fiil, ya da başkaca sebeplere binaen, doğabilecek doğrudan ya da dolaylı hiçbir zarardan
                sorumlu değildir. Argeset, sözleşmenin ihlali, haksız fiil, ihmal veya diğer sebepler neticesinde; işlemin kesintiye
                uğraması, hata, ihmal, kesinti hususunda herhangi bir sorumluluk kabul etmez. Bu siteye ya da link verilen sitelere
                girilmesi ya da sitenin kullanılması ile Argeset kullanım/ziyaret sonucunda, doğabilecek her tür sorumluluktan, mahkeme
                ve diğer masraflar da dahil olmak üzere her tür zarar ve talep hakkından beri kılındığı kabul edilmektedir.
            </p>
        </div>
    </div>
</div>
