<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div class="backContent privacyagreement" style="width: 80%; margin-bottom: 200px">
            <h1 style="color: #c0ca33 !important; text-align: left;">İş Akışlarınıza Eksiksiz Uyum</h1>
            <p>SetCRM Maya temel CRM kullanımı haricinde Extended Relationship Management (XRM) olarak da kullanılabilir</p>
            <p>Sayısız özelliği sayesinde WEB arayüzden ihtiyaçlara göre yeni formlar oluşturulabilir</p>
            <p>Oluşturulan formların sayfa tasarımı yapılaiblir</p>
            <p>İş Kuralları özelliği sayesinde bu formlar arasındaki bağlantılar oluşturulabilir</p>
            <p>Bu formlar üzerinden istenilen raporlar oluşturulabilir</p>
            <p>Böylelikle temel CRM özellikleri haricinde kullanıcı firmanın kendisine özgü ihtiyaçları ekstra bir maliyet ve kod çalışması gerektirmeden karşılar ve Kullanıcı Firma tüm iş akışını SetCRM Maya üzerinden yönetebilir</p>
        </div>
    </div>
</div>
