
@import url('/Publics/css/Fonts/Opensans/stylesheet.css');

*{ margin: 0;padding: 0;text-decoration: none;    font-family: 'open_sansregular';  /*text-shadow: 1px 1px 0px #fff;*/}
body{overflow-x: hidden;}

.logo{;margin:0 120px;position: absolute;z-index: 3;line-height: 89px;transition: 0.6s;}
.logo a{ color: #fff;font-size: 44px;line-height: 89px;font-family: 'open_sansbold';transition: 0.6s;}
header{ height: 89px;width: 100%;float: left;position: fixed;z-index: 99;background:rgba(255, 255, 255, 0.50);box-shadow:0px -2px 18px #272424; transition: 0.6s; /*background:rgba(255, 255, 255, 0.66);*/}
header nav.menu{ float: right;}
header nav.menu a{ color: #212121;line-height: 89px;display: block;padding: 0 21px;font-size: 18px;float: left;transition: 0.6s;}
header nav.menu a:hover{ color: #c0ca33;transition: 0.5s;}

header nav.login{float: right;padding: 0 0 0 34px;}
header nav.login a{ display: block;padding: 0 21px;font-size: 18px;float: left;background: rgba(9, 91, 147, 1);font-family: 'open_sanssemibold'; transition: 0.6s;color:#fff;height:30px;margin-left:3px;margin-top:29px;line-height:30px;}
header nav.login a:hover{ color: rgba(9, 91, 147, 1);text-decoration: underline}
header nav.login a:first-child:hover{ color: #c0ca33;text-decoration: underline}
header nav.login a:last-child{ background: #c0ca33}
header nav.login a:last-child{ margin-right:34px;}

.lang{float: right;line-height: 65px;height: 35px;padding:0 21px; display: none}

.banner{ float: left;width: 100%;position: relative;z-index: 1;background: url('../img/Anasayfa_banner.jpg')top center no-repeat ;height: 1080px;margin-top: -60px;background-size:1920px}
.banner h1{ float: left;margin-top: 360px;margin-left: 120px;color:#fff;font-size: 68px;width: auto;letter-spacing: 1px;text-shadow: 3px 4px 19px #272424; font-family: 'open_sanssemibold';}
.banner div{margin: 0 auto;margin-top: 570px;margin-left: 90px;}
.banner .btn{ color: #fff;background:rgba(9, 91, 147, 1);display: block;width: 290px;text-align: center;line-height: 69px;font-size: 30px;font-family: 'open_sanssemibold';float: left;margin-left: 30px;}

.banner span{color: #c0ca33;margin-left: 120px;float: left;margin-top: 22px;font-size: 25px;}
.banner .lnk{color: #c0ca33;margin-left: 44px;float: left;margin-top: 22px;font-size: 25px;border-bottom: 3px solid #01579b;}

.dark{margin-top: -264px;}
.dark,.light{ float: left;width: 100%;}
.dark .top{background:url(../img/AnaSayfaAltBorder.png)top center no-repeat;float: left;width: 100%;height: 266px;position: relative;z-index: 5;}
.dark .content{ width: 100%;background: #212121;float: left;min-height: 430px;/*min-height: 490px;*/}
.dark .bottom{background: url(../img/AnaSayfaAltBorder.png)top center no-repeat;float: left;width: 100%;height: 195px;position: relative;z-index: 5;/*margin-top: -117px;*/}
.dark .content div{ width: 33%;float: left;}
.dark .content div h1{color: #c0ca33;text-align: center;font-size: 26px;margin-top: 38px;letter-spacing: 3px;transition: 0.5s;}
.dark .content div .img{float: left;width: 100%;height: 59px;margin:10px 0;transition: 0.5s;}
.dark .content div:hover .img{transform: rotate(10deg);-webkit-transition: 0.5s;}
.dark .content div:hover h1{ color: #73791E;transition: 0.5s;}
.dark .content div:hover h1{ color: #73791E;transition: 0.5s;}

.dark .content div .img1{background: url('../img/satis.png')top center no-repeat;background-size: 59px;}
.dark .content div .img2{ background: url('../img/servis.png') top center no-repeat;background-size: 59px;}
.dark .content div .img3{ background: url('../img/pazarlama.png') top center no-repeat;background-size: 59px;}
.dark .content div .img4{background: url('../img/AnaSayfaPazarlama.png')top center no-repeat;background-size: 59px;}
.dark .content div .img5{ background: url('../img/AnaSayfaServisler.png') top center no-repeat;background-size: 59px;}
.dark .content div .img6{ background: url('../img/entegrasyon.png') top center no-repeat;background-size: 59px;}
.dark .content div p{color: #fff;width: 70%;margin-left: 15%; text-align: center;font-size: 18px;font-weight:100;letter-spacing: 1px;float: left;}
.dark .content .backContent p{color: #fff;width: 100%;margin-left: 5%; text-align: left;font-size: 15px;font-weight:100;letter-spacing: 1px;float: left;}
.dark .content .backContent img.ok{width: 18px; margin-right: 8px;float: left;margin-top:5px;box-shadow: none;}

.dark .content p{float:left;width: 55%;margin-left: 5%; text-align: justify;line-height: 22px;color: #fff;margin-top:13px}
.dark .content h2{margin-top: 55px;margin-left: 5%;float: left;color: #fff;margin-bottom: 50px;}
.dark .content img{float: right;width: 30%;margin-right: 5%;margin-top: 55px; box-shadow: #fff 1px 0px 3px;}


.light .content{background: #fff;min-height: 490px;float: left;margin:34px 0 188px 0;width: 100%;}
.light .content p{float:right;width: 55%;text-align: justify;line-height: 22px;margin-top: 13px;margin-right: 5%; }
.light .content h2{margin-top: 55px;margin-left: 5%;float: left;margin-bottom: 34px;}
.light .content img{float: left;width: 30%;margin-left: 5%;margin-top: 55px;  box-shadow: rgb(33, 33, 33) 3px 4px 8px;}

.privacyagreement p{margin-left:  0 !important}
.privacyagreement p strong{color:#c0ca33}

footer{background: url(../img/AnasayfaFooterUstu.png) top center no-repeat; float: left;width: 100%;height: 230px;position: relative;z-index: 5;margin-top: -117px;}
footer div{ float: left;width: 365px;height: 62px;position: relative;z-index: 99;  }
footer div a{ width: 50px;height: 50px; float: left;margin-top: 70px;margin-left: 21px;text-indent: -9999px;}
footer div .fb{background: url(../img/facebook.png) no-repeat;background-size: 50px;margin-left: 8px;}
footer div .tw{background: url(../img/twitter.png) no-repeat;background-size:50px}
footer div .ln{background: url(../img/ln.png) no-repeat;margin-left: 8px;background-size:50px}
footer div .yt{ background: url(../img/youtube.png) no-repeat;margin-left: 8px;background-size:50px}
footer div a:hover{ opacity: 0.5;}

footer nav{float: right; transform: rotate(-5deg);position: relative;z-index: 99;margin-top: -60px; }
footer nav a{display: block;color: #fff;line-height: 50px;padding: 0 21px;float: left;}
footer nav a:hover{ color: #c0ca33;}
footer strong{ width:calc(100% - 34px) ;float: left;color: #eee;margin-left: 21px;margin-top: 51px; position: relative;z-index: 99;transform: rotate(-5deg);}

.continue{display: block;padding: 0 21px;font-size: 18px;width: 89px; background: rgba(9, 91, 147, 1);font-family: 'open_sanssemibold';color:#fff;height:30px;margin-left:3px;line-height:30px;margin: 0 auto; display: none}

/*home page accordion   095b93*/ 
.accordion{ width: 90%;margin-left: 5%}
.accordion ul{ width: 100%;}
.accordion ul li{ float: left; width: 16.4%;border-left: 1px;  border-left: #eee 1px solid;}
.accordion ul li a{font-family: 'open_sanssemibold';color: #095b93;display: block;height: 120px;line-height: 25px;text-align: center;transition: 0.5s;}
.accordion ul li a:hover{border-bottom: 7px solid rgb(9, 91, 147);transition: 0.5s;}

.accordion ul li a div{ width: 100%;height: 59px;padding-top: 20px; display: block;margin-top: 20px; }
.accordion ul li a .icon1{background: url('../img/1elektronik.png')top center no-repeat;background-size: 59px;}
.accordion ul li a .icon2{background: url('../img/2insaat.png')top center no-repeat;background-size: 59px;}
.accordion ul li a .icon3{background: url('../img/3perakende.png')top center no-repeat;background-size: 59px;}
.accordion ul li a .icon4{background: url('../img/4saglik.png')top center no-repeat;background-size: 59px;}
.accordion ul li a .icon5{background: url('../img/5servis.png')top center no-repeat;background-size: 59px;}
.accordion ul li a .icon6{background: url('../img/6diger.png')top center no-repeat;background-size: 59px;}

.accordion .accordion-content{ width: 100%;float: left;border: 1px solid #eee;padding: 20px}
.accordion .accordion-content div { display: none;}
.accordion .accordion-content div p{ float: none !important;width: auto !important;margin-right: 0 !important;margin-left: 15px !important}

/*Form Style*/
.backContent{width: 80%;margin-left: 10%;float: left;margin-bottom: 60px;min-height: 470px}
.backContent h2{ float: left;width: 100%;}
.backContent div{ float: left;width: 100% !important;margin: 10px 0}
.backContent label{ color: #fff;margin-left: 5%;width: 150px;float: left;line-height: 36px;}
.backContent input{padding:5px; width:300px;border: none;border-left: 5px solid #C0CA33;line-height: 30px;transition: 1s; }
.backContent input:hover,.backContent textarea:hover{transition: 1s;border-left: 5px solid #01579b; }
.backContent textarea{padding:5px; width:300px;border: none;border-left: 5px solid #C0CA33;height: 89px;transition: 1s;}
.backContent button{border: none;/*border-left: 5px solid #C0CA33;*/color: #ffffff;margin-left: 182px;padding: 10px;margin-top: 14px; width: 100px;transition: 1s;background: #01579b;font-size: 15px;font-family: 'open_sansbold';}
.backContent button:hover{ background: #C0CA33;transition: 1s;cursor: pointer;border-left: 5px solid #01579b;}
.backContent span{ line-height: 34px;color: #fff;display: block }

/*Modal*/
#modalBack{background: rgba(5, 10, 30, 0.5); z-index: 991; height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; opacity: 1; display: none}
.modal{width: 33%; height: auto; overflow: auto; margin: auto; position: fixed; top: 230px; left: 0px; right: 0px; padding: 10px 15px; z-index: 999; display: none; background-color: white;}
.close_modal{cursor: pointer; float: right; width: 10px; padding: 0; font-size: 15px; font-weight: 700; line-height: 1; color: #999; text-shadow: 0 1px 0 #fff; font-family: Arial}
.modal-body div label{width: 191px; float: left; line-height: 36px;}
.modal-body div input{line-height: 30px; width: 300px;}
.modal-body div select{line-height: 30px; height: 35px; width: 300px;}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
    .logo{ margin-left: 89px;}
    .banner{ height: 700px;}
    .banner h1{ margin-left: 89px;margin-top: 202px;}
    .banner div{margin-top: 410px;margin-left: 66px;width: 100%;}
    .scroll{right: 21px;bottom: 21px;}
    .dark{margin-top: -234px;}
    .dark .content div p{ width: 90%;margin-left: 5%;}
    .dark .content div .img{margin: 50px 0 3px 0;}
    .dark .content .backContent{margin-bottom: 40px;}
    .light .content{margin: 34px 0 108px 0}

    .modal {width: 40%;top:155px}

    footer nav{margin-top: -39px;}
    footer div a{ background-size: 40px !important;width: 40px;height: 40px;margin-top: 80px;}
}

@media screen and (min-width: 920px) and (max-width: 990px) {
    .logo{ margin-left: 34px;}
    header nav.login a:first-child{ padding: 0 8px 0 21px;}
    header nav.login a:last-child{ padding: 0 21px 0 8px;}

    header nav.login {padding: 0px 0 0 13px;}
    header nav.menu a{ color: #fff;line-height: 89px;display: block;padding: 0 8px;font-size: 18px;float: left}

    .banner{ height: 800px;}
    .banner h1{ margin-left: 34px;margin-top: 240px;}
    .banner div{ margin-top: 450px;margin-left: 0;}

    .dark .content div p{ width: 95%;margin-left: 2.5%;}
    .dark .content div .img{margin: 50px 0 3px 0;}

    .light .content{margin: 34px 0 130px 0}

    footer nav{margin-top: -21px;}
    footer div a{ background-size: 40px !important;width: 40px;height: 40px;margin-top: 80px;}
}

@media screen and (min-width: 480px) and (max-width: 919px) {
    body{overflow-x: scroll}
    .logo{ margin-left: 21px;}
    header nav.login a:first-child{ padding: 0 8px 0 21px;}
    header nav.login a:last-child{ padding: 0 21px 0 8px;}

    header nav.login {padding: 0px 0 0 13px;}

    header nav.menu{ display: none;}
    header nav.menu a{ color: #fff;line-height: 89px;display: block;padding: 0 13px;font-size: 18px;float: left}

    .banner{ height: 700px;background: url('../img/Anasayfa_banner.jpg')left center no-repeat fixed;}
    .banner h1{ margin-left: 21px;margin-top: 200px;font-size: 55px;width: 90%}
    .banner div{ margin-top: 360px;margin-left: 0;}
    .banner .btn{font-size: 21px;line-height: 34px;width: 223px;margin-left: 20px;}
    .banner .btn:last-child {width: 216px !important }
    
    /*.dark .top { margin-top: -265px;}*/
     .dark { margin-top: -265px;}

    .dark .content div{ width: 100%;}
    .dark .content div h1{ margin-top: 34px;}
    .dark .content div p{ width: 95%;margin-left: 2.5%;}
    .dark .content div .img{margin: 50px 0 3px 0;}

    .dark .content img{ width: 90%;}
    .dark .content h2{margin-top: 34px;}
    .dark .content p{width: 90%;  margin-top: 13px;}

    .dark .content .backContent { width: 80%;}
    .dark .content .backContent p,.dark .content .backContent h2{ padding-left:0;}

    .light .content {margin: 1px 0 188px 0;}
    .light .content img{ width: 90%;}
    .light .content h2{margin-top: 34px;}
    .light .content p{width: 90%;  margin-top: 13px;}


    footer strong{margin-top: 110px;}
    footer nav,footer div{ display: none;}
}

@media screen and (min-width: 0) and (max-width: 480px) {
    body{overflow: scroll}
    .logo{ margin-left: 21px;}
    .logo a{font-size: 32px !important}
    header nav.login {padding: 0;margin-right: -10px;}
    header nav.menu{ display: none;}
    .banner{ height: 600px;background: url('../img/Anasayfa_banner.jpg')left center no-repeat fixed;}
    .banner h1{ margin-left: 21px;margin-top: 180px;font-size: 32px;width: 80%;}
    .banner div{ margin-left: 0;margin-top: 300px;}
    .banner .btn{font-size: 15px;line-height: 34px;width: 145px !important;margin-left: 23px;margin-bottom: 13px; }
    
    .dark .content div{ width: 100%;}
    .dark .content div h1{ margin-top: 34px;}
    .dark .content div p{ width: 95%;margin-left: 2.5%;}
    .dark .content div .img{margin: 50px 0 3px 0;}

    .dark .content img{ width: 90%;}
    .dark .content h2{margin-top: 34px;}
    .dark .content p{width: 90%;  margin-top: 13px;}

    .dark .content .backContent { width: 80%;}
    .dark .content .backContent p,.dark .content .backContent h2{ padding-left:0;}

    .light .content {margin: 1px 0 188px 0;}
    .light .content img{ width: 90%;}
    .light .content h2{margin-top: 34px;}
    .light .content p{width: 90%;  margin-top: 13px;}

    .content{overflow: hidden}

    footer strong{margin-top: 175px;}
    footer nav,footer div{ display: none;}

    .modal {width: 96%;top:20px}
}
/*#endregion */


/*#region Animate */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*fadeInUp*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
/*fadeIn Left*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}


/*fadeInRight*/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
/*pulse*/

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
/*#endregion */