@model ContactModel
<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <form method="post">
            <label>Adınız Soyadınız</label>
            <input type="text" name="Ad" value="@Model.Ad" />
            <br />

            <label>Email Adresiniz</label>
            <input type="email" name="Email" value="@Model.Email" />
            <br />

            <label>Mesajınız</label>
            <textarea name="Mesaj">
                @Model.Mesaj
            </textarea>
            <br />

            @Html.AntiForgeryToken()
            <button type="submit">Gönder</button>
        </form>
    </div>
</div>


