@model BaseModel


<div class="banner">
    <h1 class="pulse animated">Süreçlerinize Özel,<br /> Esnek Bulut CRM</h1>
    <a href="//maya.setcrm.com/user/new" target="_blank" class="btn fadeInLeftBig animated" style="background:rgba(229, 78, 51, 1)">Ücretsiz Deneyin</a>
    <a href="/contact/index" class="btn fadeInLeftBig animated" style="margin-left:440px;margin-top:-69px;width:240px;">Sizi Arayalım</a>
</div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <div>
            <h1>Müşteri İlişkileri<br />Yönetimi</h1>
            <div class="img img1"></div>
            <p>Satış, Servis ve Pazarlama modüllerinden oluşan temel CRM.</p>
            <p><a href="#step1" class="btn continue step1">Devamı+</a></p>@*/content/crm*@
        </div>
        <div>
            <h1>Gelişmiş<br />Raporlama</h1>
            <div class="img img2"></div>
            <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            <p><a href="#step2" class="btn continue step2">Devamı+</a></p>@*/content/reporting*@
        </div>
        <div>
            <h1>Akışlarınıza<br />Eksiksiz Uyum</h1>
            <div class="img img3"></div>
            <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            <p><a href="#step3" class="btn continue step3">Devamı+</a></p>@*/content/workflow*@
        </div>
    </div>
    <div class="bottom"></div>
</div>
<div class="light">
    <div class="content">
        <img src="/Publics/img/1.png" class="fadeInLeft animated" alt="Alternate Text" />
        <h2 class="fadeInUp animated">Müşteri İlişkileri Yönetimi</h2>
        <p class="fadeInRight animated">CRM'in temel yapıtaşlarını oluşturan Satış, Servis ve Pazarlama modüllerini içerir.</p>

        <p class="fadeInRight animated">Satış: Firma, ilgili kişi, Aktivite, Randevu, Ziyaret, Potansiyel ve Teklif modüllerini içerir.</p>

        <p class="fadeInRight animated">Servis: Arıza Bildirimleri, Servis Kayıtları, Servis Çağrıları modüllerini içerir.</p>

        <p class="fadeInRight animated">Pazarlama: Kampanyalar ve SMS yada E-mail izin bilgileri ışığında gerekli kişilerin süzülmesi ile kampanya  yönetimini sağlayan temel modüllerdir.</p>

        <p class="fadeInRight animated">SetCRM Maya'nın esnek yapısı sayesinde bahsedilen modüllerde mevcut formlar üzerinde değişiklik yapılabilir veya sisteme firmanın ihtiyacına göre kısa sürede ekstra bir maliyet ve kod çalışması gerektirmeksizin yeni formlar eklenebilir.</p>

        <p class="fadeInRight animated">Hem yeni eklenen kısımlar hemde mevcut kısımlar üzerinden rapolar alınabilir.</p>
    </div>
</div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <img src="/Publics/img/2.png" class="left" alt="Alternate Text" />
        <h2>Gelişmiş Raporlama</h2>
        <p>SetCRM Maya'da modüller üzerinden esnek olarak raporlar tasarlanabilir, bu raporlar hem tablo şeklinde hem de grafiksel olarak görüntülenebilir. Mevcut raporlarla sistemde birden fazla dashboard tasarlanabilir.</p>

        <p>Örneğin, Satış Dashboard'da Temsilci bazında aylık satış tutarları ve ziyaret ortalamaları olurken, Servis Dashboard'da en fazla şikayet alınan 5 ürün ile en fazla arıza yapan 5 ürün listelenebilir. Ve bu listelemeler Pasta, XY, Kolon ve bunun gibi grafikler ile görüntülenebilir.</p>

        <p>Farklı dashboardlar üzerinden yetkilendirme yapılarak firma içerisinde kimlerin bu dashboardları görüntüleyeceği belirlenebilir.</p>
    </div>
    <div class="bottom"></div>
</div>
<div class="light">
    <div class="content">
        <img src="/Publics/img/3.jpg" class="left" alt="Alternate Text" />
        <h2>İş Akışlarınıza Eksiksiz Uyum</h2>
        <p>SetCRM Maya temel CRM kullanımı haricinde Extended Relationship Management (XRM) olarak da kullanılabilir. Sayısız özelliği sayesinde WEB arayüzden ihtiyaçlara göre yeni formlar oluşturulabilir.</p>

        <p>Oluşturulan formların sayfa tasarımları yapılıp, iş Kuralları özelliği sayesinde bu formlar arasındaki bağlantılar oluşturulabilir. Böylelikle temel CRM özellikleri haricinde kullanıcı firmanın kendisine özgü ihtiyaçları ekstra bir maliyet ve kod çalışması gerektirmeden karşılanır ve kullanıcı firma tüm iş akışını SetCRM Maya üzerinden yönetebilir.</p>

    </div>
</div>