@model BaseModel


<div class="banner">
    <h1 class="pulse animated">Süreçlerinize Özel,<br /> Esnek Bulut CRM</h1>
    <div>
        <a href="//maya.setcrm.com/user/new" target="_blank" class="btn fadeInLeftBig animated" style="background:rgba(229, 78, 51, 1)">Ücretsiz Deneyin</a>
        <a href="#" class="btn fadeInLeftBig animated siziarayalim" style="width: 240px;">Sizi Arayalım</a>
    </div>
</div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <a href="/content/crm">
            <div>
                <div class="img img1"></div>
                <h1>Satış</h1>
                <p>Satış, Servis ve Pazarlama modüllerinden oluşan temel CRM.</p>
            </div>
        </a>
        <a href="/content/service">
            <div>
                <div class="img img2"></div>
                <h1>Servis</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/marketing">
            <div>
                <div class="img img3"></div>
                <h1>Pazarlama </h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/reporting">
            <div>
                <div class="img img4"></div>
                <h1>Gelişmiş<br />Raporlama</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/workflow">
            <div>
                <div class="img img5"></div>
                <h1>Akışlarınıza<br />Eksiksiz Uyum</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/integration">
            <div>
                <div class="img img6"></div>
                <h1 style="margin-bottom: 28px;">Entegrasyon</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
    </div>
    <div class="bottom"></div>
</div>
<div class="light">
    <div class="content" style="margin:  -30px 0 188px 0">
        <h1 style="margin: 0 0 1px 0; border-bottom: 5px solid #095b93; color: #095b93; margin-left: 5%; width: 90%; line-height: 70px;margin-bottom: 20px">Sektörünüz için CRM Yazılımı</h1>
        <div class="accordion">
            <ul>
                <li><a href="#elektronik" style="border-bottom:7px solid rgb(9, 91, 147)"><div class="icon1"></div>Elektrik ve Elektronik</a></li>
                <li><a href="#insaat"><div class="icon2"></div>İnşaat ve Emlak</a></li>
                <li><a href="#perakende"><div class="icon3"></div>Makine ve Ekipmanları </a></li>
                <li><a href="#saglik"><div class="icon4"></div>Sağlık</a></li>
                <li><a href="#servis"><div class="icon5"></div>Servis ve Hizmet</a></li>
                <li><a href="#diger"><div class="icon6"></div>Diğer Sektörler</a></li>

            </ul>
            <div class="accordion-content">
                <div class="elektronik fadeInLeft animated" style="display: block;">
                    <img src="/Publics/img/elektronik.jpg" class="fadeInUp animated" align="left" style="margin:0 31px 21px 21px;" />
                    <h2 class="title">Elektrik ve Elektronik</h2>

                    <p>SetCRM Maya üzerinde Elektrik ve Elektronik sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda Elektrik ve Elektronik sektörüne özgü CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir. Detaylı bilgi için Satış Danışmanlarımız ile iletişime geçiniz.</p>

                    <p><strong>Adres Defteri</strong></p>

                    <p>Genel CRM'de bulunan Firma ve Firmaya ait kişiler ile bunlar ile ilgili tüm bilgiler saklanabilmekte olup onlar ile ilgili olan tüm aksiyonlar istenildiği formatta raporlanabilmektedir. Bu tanım altında, çağrı yönetimi, gelen giden evrak ve dokümanlar, şirket içi haberleşme ve yazışmalar eklenebilir.</p>

                    <p><strong>Aktivite, Görev ve Randevu takibi</strong></p>
                    <p>Satış temsilcilerinin yaptığı çeşitli aksiyonlar sistem üzerinden kurum ve kişisel bazlı kaydedilebilmektedir. Özellikle Ziyaret bilgisi girerken sektöre ait bilgiler kaydedilebilir ve daha sonra raporlanabilmektedir. Örnek rapolar; Satış Temsilcisi bazında aylık ziyaret sayısı, aylık ziyaret ettiği farklı Müşteri sayısı vb...</p>

                    <p><strong>Ürün Envanteri</strong></p>
                    <p>Firmanın sattığı ürünlere göre farklı bilgiler ile kaydedilerek ürünler üzerinden raporlama yapılabilmektedir. Çeşitli kampanyalara göre ürün bazında veya firma bazında ürünler için indirim uygulanabilmektedir. Ürünlerin segmentastonu farklı alanlar (fiyat, etki, kullanım tipi) üzerinden yapılabilir. Bu segmentasyon üzerinden sistemde farklı raporlar alınabilir. Ürünler ile yedek parçalar bir birine bağlanabilir, böylece seçilen ana ürüne gerekli yedek parça listesi sistemden otomatik olarak gelir. Seri no ve barkod ile takip yapılabilir.</p>

                    <p><strong>Teklif ve Sipariş Modülü</strong></p>

                    <p>Ürün kayıtları üzerinden detaylı bir şekilde teklif veya sipariş mobil olarak satış temsilcileri tarafından oluşturulabilir. Sipariş veya Teklif formu firmanıza özel olarak dinamik olarak tasarlanabilir. Gerekli teklif veya sipariş şablonları sistem üzerinden indirilebilir veya müşteriye E-mailile otomatik gönderilebilir. Kayıt esnasında firmaya özel hesaplamalar yapılabilir. Ürün bazlı veya Grup bazlı farklı şablonlar tasarlanıp sistemde kullanılabiliyor, Ürüne ait teknik özellikler teklif ile birlikte müşteriye gönderilebiliyor.</p>

                    <p><strong>Satın alma Modülü</strong></p>

                    <p>Satışı veya siparişi verilen ürünlerin satın alma siparişleri otomatik olarak oluşturulabilir. Bu siparişler oluşturulur iken tedarikçi bazlı satın alma siparişi oluşturup onların takipleri, (termin tarihleri, gümrük ve sigorta işlemleri, lojistik maliyetleri, satın alma fiyatları v.b.) bilgiler sistem üzerinden takip edilebilir. Sistem her noktada mail veya farklı bir aksiyona yapabilir. Ürün kabulünde sipariş ve irsaliye eşleştirmesi yaparak yanlış ürünün sisteme girmesini önlenmiş olur.</p>

                    <p><strong>Servis ve Satış Sonrası Destek</strong></p>
                    <p>Servis bölümüne gelen arıza ve şikayet ler sistem üzerinde bir çağrı numarası alarak sisteme kayıt yapılır, anlık veya günlük olarak ilgili bölüme aktarılır. İlgili bölüm problem tipine göre ya hemen geri dönüş yapar veya yerinde servis vermek üzere iş emri oluşturur ve ilgili servis personeline görev oluşturur. Servis personeli yerinde veya merkezde gerekli servis işlemini gerçekleştirip servisi kapatır. Bu işlem sırasında yaptığı işleri, değiştirdiği yedek parçaları, yaptığı masrafları, yol ve konaklama ücretlerini sisteme girip üzerinden çıktı alabilir. Ayrıca müşteri kabul eder ise müşteriye herhangi bir servis çıktı formu yerine elektronik tablet üzerinden imza attırılıp çıktı PDF dönüştürülüp e-mail olarak müşteriye gönderilir. Bütün operasyon hiçbir kağıt kullanmadan çözülebilir.</p>

                    <p><strong>Şikayet ve Görüş</strong></p>

                    <p>SetCRM Maya'nin sahip olduğu API sayesinde gerek Web sitesinden gelen gerekse sosyal medya hesaplarından gelen şikayet ve görüşleri sisteme otomatik olarak kaydedilebilir. Diğerleri ise elle kaydedilebilir veya SetCRM Mayanın Excel içerisinde entegrasyonu sayesinde toplu olarak içeri alınabilir. Bu şikayet ve görüşlerin statüleri belirlenerek bu statülere göre gerekli iş akışları başlatılabilir. Ürün şikayetinde yeni ürün yollama veya müşterinin aranıp durum ile ilgili detaylı bilgi alınması gibi. Böylelikle statü bazında hangi üründen hangi türde şikayetler alınmış, hangi ürünler için şikayetler sonrasında hangi aksiyonlar alındığı raporlanabilir.</p>
                </div>
                <div class="insaat fadeInLeft animated">
                    <img src="/Publics/img/inssat.jpg" class="fadeInUp animated" align="left" style="margin:0 31px 21px 21px;" />
                    <h2 class="title">İnşaat ve Emlak</h2>
                    <p>
                        SetCRM Maya üzerinde İnşaat ve Emlak sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda İnşaat sektörüne özgü
                        CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir. Detaylı bilgi için Satış Danışmanlarımız
                        ile iletişime geçiniz.
                    </p>
                    <p><strong>Müşteri Takibi</strong> </p>
                    <p>
                        Daha önceden satış yaptığınız veya şu anda sizin için potansiyel olan müşterileri sisteme kaydedebilir ve müşteri segmantasyonu yaparak (bütçe, aradığı gayrimenkul tipi vb..) bu liste üzerinden raporlama yapabilirsiniz.
                        Mevcut müşteri ve potansiyel müşteri listenizi istediğiniz anda Excel'den toplu olarak sisteme atabilirsiniz.
                    </p>
                    <p><strong> Gayrimenkul Envanter Takibi</strong></p>
                    <p> Birden fazla proje üzerindeki gayrimenkul üniteleri hiyerarşik yapı ile kaydedilebilir. (Proje Fazı, Blok, Daire vb..) Her bir ünitenin detaylı bilgileri sistemde kaydedilebilir.</p>
                    <p><strong> Teklif Takibi</strong></p>
                    <p>
                        İnşaat sektörüne özel bilgiler ile teklifler kaydedilebilir. Sözleşme bedeli, belli harçlar sistem üzerinden otomatik olarak hesaplanabilir. Bu hesaplamalar sonucunda çıkan tutar ile birlikte
                        müşteriler sistem üzerinden ekte Sözleşme, Teklif gibi PDF dosyaları ile otomatik olarak E-mail atılabilir.
                    </p>
                    <p><strong> Aktivite, Görev ve Randevu takibi</strong></p>
                    <p>
                        Müşterilerinize ait Aktivite ve Randevuları kaydedebilir, müşteri veya satış temsilcisi bazında bunları raporlayabilirsiniz. Çalışanlarınız arasına görev atamaları yapılabilir. Müşteriler ile farklı projeler ve lokasyonlarda
                        randevular alınabilir. Bu randevular takvim üzerinden takip edilebilir.
                    </p>
                    <p><strong>Proje Yönetimi</strong></p>
                    <p>
                        Proje Modülü sayesinde birden fazla projeler, proje çalışanları, projeye ait iş, masraf vb.. kalemler takip edilebilir. Proje bazında veya firma genelinde projelere ait iş kalemlerinin deadline ları ile birlikte
                        takvim üzerinden görüntülenebilir. İş kalemlerinin bitiş yüzdesi ayrıca sistem üzerinden takip edilebilir.
                    </p>
                    <p><strong>Satın Alma</strong></p>
                    <p>
                        Satın Alma modülü ile Satın Alma formları firma içerisindeki farklı departmanlar tarafından Satın Alma departmanına sistem üzerinden gönderilebilir. Satın Alma değerlendirmesi farklı teklifler üzerinden yapılabilir.
                        Dinamik yapı sayesinde belli rakamlar üzerindeki Satın Alma formları sistem kullanıcı veya kullanıcılarına onaya gönderilebilir.
                    </p>
                </div>
                <div class="perakende">
                    <img src="/Publics/img/makine.jpg" class="fadeInUp animated" align="left" style="margin:0 31px 21px 21px;" />
                    <h2 class="title">Makine ve Ekipmanları</h2>

                    <p>SetCRM Maya üzerinde Makine ve Ekipmanları sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda Makine ve Ekipmanları sektörüne özgü CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir. Detaylı bilgi için Satış Danışmanlarımız ile iletişime geçiniz.</p>

                    <p><strong>Adres Defteri</strong></p>

                    <p>Genel CRM'de bulunan Firma ve Firmaya ait kişiler ile bunlar ile ilgili tüm bilgiler saklanabilmekte olup onlar ile ilgili olan tüm aksiyonlar istenildiği formatta raporlanabilmektedir. Bu tanım altında, çağrı yönetimi, gelen giden evrak ve dokümanlar, şirket içi haberleşme ve yazışmalar eklenebilir.</p>

                    <p><strong>Aktivite, Görev ve Randevu takibi</strong></p>

                    <p>Satış temsilcilerinin yaptığı çeşitli aksiyonlar sistem üzerinden kurum ve kişisel bazlı kaydedilebilmektedir. Özellikle Ziyaret bilgisi girerken sektöre ait bilgiler kaydedilebilir ve daha sonra raporlanabilmektedir. Örnek rapolar; Satış Temsilcisi bazında aylık ziyaret sayısı, aylık ziyaret ettiği farklı Müşteri sayısı vb...</p>

                    <p><strong>Ürün Envanteri</strong></p>

                    <p>Firmanın sattığı ürünlere göre farklı bilgiler ile kaydedilerek ürünler üzerinden raporlama yapılabilmektedir. Çeşitli kampanyalara göre ürün bazında veya firma bazında ürünler için indirim uygulanabilmektedir. Ürünlerin segmentastonu farklı alanlar (fiyat, etki, kullanım tipi) üzerinden yapılabilir. Bu segmentasyon üzerinden sistemde farklı raporlar alınabilir. Ürünler ile yedek parçalar bir birine bağlanabilir, böylece seçilen ana ürüne gerekli yedek parça listesi sistemden otomatik olarak gelir. Seri no ve barkod ile takip yapılabilir.</p>

                    <p><strong>Teklif ve Sipariş Modülü</strong></p>

                    <p>Ürün kayıtları üzerinden detaylı bir şekilde teklif veya sipariş mobil olarak satış temsilcileri tarafından oluşturulabilir. Sipariş veya Teklif formu firmanıza özel olarak dinamik olarak tasarlanabilir. Gerekli teklif veya sipariş şablonları sistem üzerinden indirilebilir veya müşteriye E-mailile otomatik gönderilebilir. Kayıt esnasında firmaya özel hesaplamalar yapılabilir. Ürün bazlı veya Grup bazlı farklı şablonlar tasarlanıp sistemde kullanılabiliyor, Ürüne ait teknik özellikler teklif ile birlikte müşteriye gönderilebiliyor.</p>

                    <p><strong>Servis ve Satış Sonrası Destek</strong></p>

                    <p>Servis bölümüne gelen arıza ve şikayet ler sistem üzerinde bir çağrı numarası alarak sisteme kayıt yapılır, anlık veya günlük olarak ilgili bölüme aktarılır. İlgili bölüm problem tipine göre ya hemen geri dönüş yapar veya yerinde servis vermek üzere iş emri oluşturur ve ilgili servis personeline görev oluşturur. Servis personeli yerinde veya merkezde gerekli servis işlemini gerçekleştirip servisi kapatır. Bu işlem sırasında yaptığı işleri, değiştirdiği yedek parçaları, yaptığı masrafları, yol ve konaklama ücretlerini sisteme girip üzerinden çıktı alabilir. Ayrıca müşteri kabul eder ise müşteriye herhangi bir servis çıktı formu yerine elektronik tablet üzerinden imza attırılıp çıktı PDF dönüştürülüp e-mail olarak müşteriye gönderilir. Bütün operasyon hiçbir kağıt kullanmadan çözülebilir.</p>

                    <p><strong>Şikayet ve Görüş</strong></p>

                    <p>SetCRM Maya'nin sahip olduğu API sayesinde gerek Web sitesinden gelen gerekse sosyal medya hesaplarından gelen şikayet ve görüşleri sisteme otomatik olarak kaydedilebilir. Diğerleri ise elle kaydedilebilir veya SetCRM Mayanın Excel içerisinde entegrasyonu sayesinde toplu olarak içeri alınabilir. Bu şikayet ve görüşlerin statüleri belirlenerek bu statülere göre gerekli iş akışları başlatılabilir. Ürün şikayetinde yeni ürün yollama veya müşterinin aranıp durum ile ilgili detaylı bilgi alınması gibi. Böylelikle statü bazında hangi üründen hangi türde şikayetler alınmış, hangi ürünler için şikayetler sonrasında hangi aksiyonlar alındığı raporlanabilir.</p>
                </div>
                <div class="saglik">
                    <img src="/Publics/img/saglik.jpg" class="fadeInRight animated" align="left" style="margin:0 31px 21px 21px;" />
                    <h2 class="title">Sağlık ve Sağlık Ürünleri</h2>
                    <p>
                        SetCRM Maya üzerinde Sağlık ve Sağlık Ürünleri sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda
                        Sağlık ve Sağlık Ürünleri sektörüne özgü CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir.
                        Detaylı bilgi için Satış Danışmanlarımız ile iletişime geçiniz.
                    </p>

                    <p><strong>Adres Defteri</strong></p>

                    <p>
                        Genel CRM'de bulunan Firma ve Firmaya ait kişiler mantığının haricinde bu sektörde, Doktor, Kurum(Hastahane, Rehabalitasyon Merkezi vb.. kurumlar) ve Hastalar hiyerarşik şekilde kaydedilebilmektedir.
                        Daha sonra bir Kuruma ait Doktorlar ve Doktorlara ait Hastalar hiyerarşik şekilde raporlanabilmektedir.
                    </p>

                    <p><strong>Aktivite, Görev ve Randevu takibi</strong></p>

                    <p>
                        Satış temsilcilerinin yaptığı çeşitli aksiyonlar sistem üzerinden Kurum, Doktor veya Hasta bazında kaydedilebilmektedir. Özellikle Ziyaret bilgisi girerken sektöre ait bilgiler kaydedilebilir ve daha sonra raporlanabilmektedir.
                        Örnek rapolar; Satış Temsilcisi bazında aylık ziyaret sayısı, aylık ziyaret ettiği farklı Doktor sayısı vb...
                    </p>

                    <p><strong>Ürün Envanteri</strong></p>

                    <p>
                        Firmanın sattığı ürünlere göre farklı bilgiler ile kaydedilerek ürünler üzerinden raporlama yapılabilmektedir. Çeşitli kampanyalara göre ürün bazında veya firma bazında ürünler için indirim uygulanabilmektedir.
                        Ürünlerin segmentastonu farklı alanlar (fiyat, etki, kullanım tipi) üzerinden yapılabilir. Bu segmentasyon üzerinden sistemde farklı raporlar alınabilir.
                    </p>

                    <p><strong>Teklif ve Sipariş Modülü</strong></p>

                    <p>
                        Ürün kayıtları üzerinden detaylı bir şekilde teklif veya sipariş mobil olarak satış temsilcileri tarafından oluşturulabilir. Sipariş veya Teklif formu firmanıza özel olarak dinamik olarak tasarlanabilir.
                        Gerekli teklif veya sipariş şablonları sistem üzerinden indirilebilir veya müşteriye E-mailile otomatik gönderilebilir. Kayıt esnasında firmaya özel hesaplamalar yapılabilir.
                        (Genel tutar üzerinden kargo bedeli, komisyon bedeli hesaplama vb...)
                    </p>

                    <p><strong>Şikayet ve Görüş</strong></p>

                    <p>
                        SetCRM Maya'nin sahip olduğu API sayesinde gerek Web sitesinden gelen gerekse sosyal medya hesaplarından gelen şikayet ve görüşleri sisteme otomatik olarak kaydedilebilir. Diğerleri ise elle kaydedilebilir veya
                        SetCRM Mayanın Excel içerisinde entegrasyonu sayesinde toplu olarak içeri alınabilir. Bu şikayet ve görüşlerin statüleri belirlenerek bu statülere göre gerekli iş akışları başlatılabilir. Ürün şikayetinde
                        yeni ürün yollama veya müşterinin aranıp durum ile ilgili detaylı bilgi alınması gibi. Böylelikle statü bazında hangi üründen hangi türde şikayetler alınmış, hangi ürünler için şikayetler sonrasında hangi aksiyonlar
                        alındığı raporlanabilir.
                    </p>


                </div>
                <div class="servis">
                    <img src="/Publics/img/servis.jpg" class="fadeInUp animated" align="left" style="margin:0 31px 21px 21px;" />
                    <h2 class="title">Servis ve Hizmet</h2>
                    <p>
                        SetCRM Maya üzerinde Servis ve Hizmet sektörüne özgü olan CRM'i Servis Yazılımı olarak kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda
                        Servis ve Hizmet sektörüne özgü CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilir ve istediğiniz Servis Yazılımı ve Hizmet Yazılımı oluşturulabilir.
                        Detaylı bilgi için Satış Danışmanlarımız ile iletişime geçiniz.
                    </p>

                    <p><strong>Temel CRM</strong></p>

                    <p>Bu sektör içerisinde de temel CRM sayfaları bulunmaktadır. Firma, İlgili Kişi, Aktivite, Randevu, Görev vb...</p>

                    <p><strong>Arıza Bildirimi</strong></p>

                    <p>
                        Servis sektöründe çeşitli şekilde firmalara gelen Arıza Bildirimleri sistem üzerinde kaydedilebilir. Gelen bildirim sonrasında gerekli iş akışları otomatik olarak başlayarak Arıza ile ilgili gerekli iş atamaları yapılır.
                        Bu atamalar sonucunda her mobil servis görevlisine ait bir "Root Plan" ortaya çıkabilir. Bu atamalar ışığında gerekli servis planlamaları yapılabilir.
                    </p>

                    <p><strong>Yedek Parça ve Ürün Envanteri</strong></p>

                    <p>
                        Temel CRM'deki ürün haricinde bu sektör için Yedek Parça Kaydı yapılabilir. Bu yedek parçalar Ürün ve Arıza Türü ile ilişkilendirilerek raporlandırabilir. Örneğin; bir ürüne veya arıza türüne ait Yedek Parçalar
                        şeklinde sistemde kaydedilebilir.
                    </p>

                    <p><strong>Arıza Türü</strong></p>

                    <p>
                        Arıza türleri gerekli kodlandırmalar yapılarak belirlenebilir ve ürün ve yedek parça ile ilişkilendirilebilir. Daha sonradan bu Arıza Türleri üzerinden farklı raporlar alınabilir.
                        Örneğin; Yedek Parça veya Ürün bazında Arıza Türü raporu, hangi üründen hangi arıza türünde kaç Arıza Bildirimi gelmiş vb...
                    </p>

                    <p><strong>Servis Raporu</strong></p>

                    <p>
                        Servis Elemenlarının gelen Arıza Bildirimi sonrasında yaptığı işlemleri (Arıza türü belirleme, kullanılan yedek parçalar, servis yorumu vb.. bilgiler) kaydedebilir ve sistemden bununla ilgili otomatik olarak Servis Formu alabilir.
                        Ürünün Serinosu üzerinden yapılan takip ile ürüne daha önceden yapılan işlemler görülebilir. Ürünün Garanti Dahili veya Harici olarak tamirinin yapıldığı gibi bilgiler girilebilir.
                    </p>

                    <p><strong>Hizmet</strong></p>

                    <p>
                        Hizmet sektörü geniş bir sektör olup, firmaların müşterilerine verdikleri hizmetler fazlasıyla çeşitlenebilmektedir. Temel CRM sayfaları haricinde SetCRM Maya'nin dinamik yapısı sayesinde müşterilere verilen
                        hizmetler ile ilgili firmaya özgü sayfalar arayüzden tasarlanabilir. Bu hizmet ile ilgili aksiyonlar ilişkili olarak kaydedilerek o hizmet türüne özgü özel CRM herhangi bir ek maliyet gerektirmeden oluşturulabilir.
                    </p>
                </div>
                <div class="diger">
                    <strong >Perakende</strong>
                    <strong >Akaryakıt</strong>
                    <strong >Ambalaj</strong>
                    <strong >Bilişim</strong>
                    <strong >Dernekler</strong>
                    <strong >Diş Hekimleri</strong>
                    <strong >Doktorlar</strong>
                    <strong >Genel</strong>
                    <strong >Gıda</strong>
                    <strong >Güvenlik</strong>
                    <strong >İhracat/İthalat</strong>
                    <strong >İletişim</strong>
                    <strong >Kamu</strong>
                    <strong >Kimya</strong>
                    <strong >Klima</strong>
                    <strong >Metal</strong>
                    <strong >Otomotiv</strong>
                    <strong >Plastik</strong>
                    <strong >Tekstil</strong>
                    <strong >Turizm</strong>
                    <strong >Ulaşım</strong>
                    <strong >Zincir Mağaza</strong>
                </div>
            </div>
        </div>


    </div>
</div>
<div id="modalBack"></div>
<form method="post">
    <div class="modal fadeInLeft animated">
        <a id="close" class="close_modal">x</a>
        <div class="modal-header" style="min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5;">
            <h2>Sizi Arayalım</h2>
        </div>
        <div class="modal-body" id="mail" style="position: relative; padding: 15px; ">
            <div style="float: left; margin: 10px 0">
                <label>Adınız Soyadınız</label>
                <input type="text" name="Ad" value="" required/>
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Firma Adı</label>
                <input type="text" name="Firma" value="" />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Telefon Numaranız</label>
                <input type="tel" name="Telefon" id="phone" value="" required />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Sizi Ne Zaman Arayalım ?</label>
                <select id="SelectTime">
                    <option value="1">Hemen</option>
                    <option value="2">Tarih/Saat Belirlemek İstiyorum</option>
                </select>
            </div>
            <div style="float: left; margin: 10px 0; display: none;">
                <label>Tarih / Saat</label>
                <input type="text" id="datetime" name="mesaj" />
            </div>
            <div style="width: 100%; float: left; margin: 10px 0">
                @Html.AntiForgeryToken()
                <button id="send" style="border: none; color: #fff; padding: 10px; margin-top: 14px; width: 100px; transition: 1s; background: #01579b; font-size: 15px; font-family: 'open_sansbold'" type="submit">Gönder</button>
            </div>
        </div>
        <div class="modal-footer" style="padding: 15px;"></div>
    </div>
</form>    
