@model BaseModel


<div class="banner">
    <h1 class="pulse animated">Süreçlerinize Özel,<br /> Esnek Bulut CRM</h1>
    <div>
        <a href="//maya.setcrm.com/user/new" target="_blank" class="btn fadeInLeftBig animated" style="background:rgba(229, 78, 51, 1)">Ücretsiz Deneyin</a>
        <a href="#" class="btn fadeInLeftBig animated siziarayalim" style="width: 240px;">Sizi Arayalım</a>
    </div>
</div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <a href="/content/crm">
            <div>
                <div class="img img1"></div>
                <h1>Satış</h1>
                <p>Satış, Servis ve Pazarlama modüllerinden oluşan temel CRM.</p>
            </div>
        </a>
        <a href="/content/service">
            <div>
                <div class="img img2"></div>
                <h1>Servis</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/marketing">
            <div>
                <div class="img img3"></div>
                <h1>Pazarlama </h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/reporting">
            <div>
                <div class="img img4"></div>
                <h1>Gelişmiş<br />Raporlama</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/workflow">
            <div>
                <div class="img img5"></div>
                <h1>Akışlarınıza<br />Eksiksiz Uyum</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/integration">
            <div>
                <div class="img img6"></div>
                <h1 style="margin-bottom: 28px;">Entegrasyon</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
    </div>
    <div class="bottom"></div>
</div>
<div class="light">
    <div class="content" style="margin:  -30px 0 188px 0">
        <h1 style="margin: 0 0 1px 0; border-bottom: 5px solid #095b93; color: #095b93; margin-left: 5%; width: 90%; line-height: 70px;margin-bottom: 20px">Sektörünüz için CRM</h1>
        <div class="accordion">
            <ul>
                <li><a href="#elektronik" style="border-bottom:7px solid rgb(9, 91, 147)"><div class="icon1"></div>Elektronik</a></li>
                <li><a href="#insaat"><div class="icon2"></div>İnşaat ve Emlak</a></li>
                <li><a href="#perakende"><div class="icon3"></div>Perakende</a></li>
                <li><a href="#saglik"><div class="icon4"></div>Sağlık</a></li>
                <li><a href="#servis"><div class="icon5"></div>Servis ve Hizmet</a></li>
                <li><a href="#diger"><div class="icon6"></div>Diğer Sektörler</a></li>

            </ul>
            <div class="accordion-content">
                <div class="elektronik fadeInLeft animated" style="display: block;">
                    Elektronik text
                </div>
                <div class="insaat fadeInLeft animated">
                    <img src="/Publics/img/inssat.jpg" class="fadeInUp animated" align="left" style="margin:0 31px 21px 21px;" />
                    <p style="margin-top: 55px" class="fadeInRight animated"><strong style="font-size: 21px;">İnşaat ve Emlak</strong> </p>
                    <p>
                        SetCRM Maya üzerinde İnşaat ve Emlak sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda İnşaat sektörüne özgü
                        CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir. Detaylı bilgi için Satış Danışmanlarımız
                        iletişime geçiniz.
                    </p>
                    <p><strong>Müşteri Takibi</strong> </p>
                    <p>
                        Daha önceden satış yaptığınız veya şu anda sizin için potansiyel olan müşterileri sisteme kaydedebilir ve müşteri segmantasyonu yaparak (bütçe, aradığı gayrimenkul tipi vb..) bu liste üzerinden raporlama yapabilirsiniz.
                        Mevcut müşteri ve potansiyel müşteri listenizi istediğiniz anda Excel'den toplu olarak sisteme atabilirsiniz.
                    </p>
                    <p><strong> Gayrimenkul Envanter Takibi</strong></p>
                    <p> Birden fazla proje üzerindeki gayrimenkul üniteleri hiyerarşik yapı ile kaydedilebilir. (Proje Fazı, Blok, Daire vb..) Her bir ünitenin detaylı bilgileri sistemde kaydedilebilir.</p>
                    <p><strong> Teklif Takibi</strong></p>
                    <p>
                        İnşaat sektörüne özel bilgiler ile teklifler kaydedilebilir. Sözleşme bedeli, belli harçlar sistem üzerinden otomatik olarak hesaplanabilir. Bu hesaplamalar sonucunda çıkan tutar ile birlikte
                        müşteriler sistem üzerinden ekte Sözleşme, Teklif gibi PDF dosyaları ile otomatik olarak E-mail atılabilir.
                    </p>
                    <p><strong> Aktivite, Görev ve Randevu takibi</strong></p>
                    <p>
                        Müşterilerinize ait Aktivite ve Randevuları kaydedebilir, müşteri veya satış temsilcisi bazında bunları raporlayabilirsiniz. Çalışanlarınız arasına görev atamaları yapılabilir. Müşteriler ile farklı projeler ve lokasyonlarda
                        randevular alınabilir. Bu randevular takvim üzerinden takip edilebilir.
                    </p>
                    <p><strong>Proje Yönetimi</strong></p>
                    <p>
                        Proje Modülü sayesinde birden projeler, proje çalışanları, projeye ait iş, masraf vb.. kalemler takip edilebilir. Proje bazında veya firma genelinde projeler ait iş kalemlerinin deadline ları ile birlikte
                        takvim üzerinden görüntülenebilir. İş kalemlerinin bitiş yüzdesi ayrıca sistem üzerinden takip edilebilir.
                    </p>
                    <p><strong>Satın Alma</strong></p>
                    <p>
                        Satın Alma modülü ile Satın Alma formları firma içerisindeki farklı departmanlar tarafından Satın Alma departmanına sistem üzerinden gönderilebilir. Satın Alma değerlendirmesi farklı teklifler üzerinden yapılabilir.
                        Dinamik yapı sayesinde belli rakamlar üzerindeki Satın Alma formları sistem kullanıcı veya kullanıcılarına onaya gönderilebilir.
                    </p>
                </div>
                <div class="perakende">perakende text coming soon</div>
                <div class="saglik">
                    <img src="/Publics/img/saglik.jpg" class="fadeInRight animated" align="left" style="margin:0 31px 21px 21px;" />
                    <p style="margin-top: 55px"class="fadeInUp animated"><strong style="font-size: 21px;">Sağlık ve Sağlık Ürünleri</strong></p>
                    <p>SetCRM Maya üzerinde Sağlık ve Sağlık Ürünleri sektörüne özgü olan CRM'i kullanabilirsiniz. Sistemin dinamik yapısı sayesinde firmanıza özel ihtiyaçları ayrıca modül olarak ekleyebilirsiniz. Genel anlamda
                    Sağlık ve Sağlık Ürünleri sektörüne özgü CRM üzerinde yapılabilecekler aşağıda listelenmiştir. Listede yazanlar haricindeki özellikler dinamik yapı sayesinde ekstra maliyet olmadan sisteme eklenebilmektedir.
                    Detaylı bilgi için Satış Danışmanlarımız ile iletişime geçiniz.</p>

                   <p><strong>Adres Defteri</strong></p>

                    <p>Genel CRM'de bulunan Firma ve Firmaya ait kişiler mantığının haricinde bu sektörde, Doktor, Kurum(Hastahane, Rehabalitasyon Merkezi vb.. kurumlar) ve Hastalar hiyerarşik şekilde kaydedilebilmektedir.
                    Daha sonra bir Kuruma ait Doktorlar ve Doktorlara ait Hastalar hiyerarşik şekilde raporlanabilmektedir.</p>

                    <p><strong>Aktivite, Görev ve Randevu takibi</strong></p>

                    <p>Satış temsilcilerinin yaptığı çeşitli aksiyonlar sistem üzerinden Kurum, Doktor veya Hasta bazında kaydedilebilmektedir. Özellikle Ziyaret bilgisi girerken sektöre ait bilgiler kaydedilebilir ve daha sonra raporlanabilmektedir.
                    Örnek rapolar; Satış Temsilcisi bazında aylık ziyaret sayısı, aylık ziyaret ettiği farklı Doktor sayısı vb...</p>

                   <p><strong>Ürün Envanteri</strong></p>

                   <p> Firmanın sattığı ürünlere göre farklı bilgiler ile kaydedilerek ürünler üzerinden raporlama yapılabilmektedir. Çeşitli kampanyalara göre ürün bazında veya firma bazında ürünler için indirim uygulanabilmektedir.
                    Ürünlerin segmentastonu farklı alanlar (fiyat, etki, kullanım tipi) üzerinden yapılabilir. Bu segmentasyon üzerinden sistemde farklı raporlar alınabilir.</p>

                    <p><strong>Teklif ve Sipariş Modülü</strong></p>

                    <p>Ürün kayıtları üzerinden detaylı bir şekilde teklif veya sipariş mobil olarak satış temsilcileri tarafından oluşturulabilir. Sipariş veya Teklif formu firmanıza özel olarak dinamik olarak tasarlanabilir.
                    Gerekli teklif veya sipariş şablonları sistem üzerinden indirilebilir veya müşteriye E-mailile otomatik gönderilebilir. Kayıt esnasında firmaya özel hesaplamalar yapılabilir.
                    (Genel tutar üzerinden kargo bedeli, komisyon bedeli hesaplama vb...)</p>

                    <p><strong>Şikayet ve Görüş</strong></p>

                    <p>SetCRM Maya'nin sahip olduğu API sayesinde gerek Web sitesinden gelen gerekse sosyal medya hesaplarından gelen şikayet ve görüşleri sisteme otomatik olarak kaydedilebilir. Diğerleri ise elle kaydedilebilir veya
                    SetCRM Mayanın Excel içerisinde entegrasyonu sayesinde toplu olarak içeri alınabilir. Bu şikayet ve görüşlerin statüleri belirlenerek bu statülere göre gerekli iş akışları başlatılabilir. Ürün şikayetinde
                    yeni ürün yollama veya müşterinin aranıp durum ile ilgili detaylı bilgi alınması gibi. Böylelikle statü bazında hangi üründen hangi türde şikayetler alınmış, hangi ürünler için şikayetler sonrasında hangi aksiyonlar
                    alındığı raporlanabilir.</p>


                </div>
                <div class="servis">servis coming soon</div>
                <div class="diger">diger coming soon</div>
            </div>
        </div>


    </div>
</div>
<div id="modalBack"></div>
<form method="post">
    <div class="modal fadeInLeft animated">
        <a id="close" class="close_modal">x</a>
        <div class="modal-header" style="min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5;">
            <h2>Sizi Arayalım</h2>
        </div>
        <div class="modal-body" id="mail" style="position: relative; padding: 15px; ">
            <div style="float: left; margin: 10px 0">
                <label>Adınız Soyadınız</label>
                <input type="text" name="Ad" value="" required />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Telefon Numaranız</label>
                <input type="tel" name="Telefon" id="phone" value="" required />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Sizi Ne Zaman Arayalım ?</label>
                <select id="SelectTime">
                    <option value="1">Hemen</option>
                    <option value="2">Tarih/Saat Belirlemek İstiyorum</option>
                </select>
            </div>
            <div style="float: left; margin: 10px 0; display: none;">
                <label>Tarih / Saat</label>
                <input type="text" id="datetime" name="mesaj" />
            </div>
            <div style="width: 100%; float: left; margin: 10px 0">
                @Html.AntiForgeryToken()
                <button id="send" style="border: none; color: #fff; padding: 10px; margin-top: 14px; width: 100px; transition: 1s; background: #01579b; font-size: 15px; font-family: 'open_sansbold'" type="submit">Gönder</button>
            </div>
        </div>
        <div class="modal-footer" style="padding: 15px;"></div>
    </div>
</form>    