@model BaseModel


<div class="banner">
    <h1 class="pulse animated">Süreçlerinize Özel,<br /> Esnek Bulut CRM</h1>
    <div>
        <a href="//maya.setcrm.com/user/new" target="_blank" class="btn fadeInLeftBig animated" style="background:rgba(229, 78, 51, 1)">Ücretsiz Deneyin</a>
        <a href="#" class="btn fadeInLeftBig animated siziarayalim" style="width: 240px;">Sizi Arayalım</a>
    </div>
</div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content">
        <a href="/content/crm">
            <div>
                <div class="img img1"></div>
                <h1>Satış</h1>
                <p>Satış, Servis ve Pazarlama modüllerinden oluşan temel CRM.</p>
            </div>
        </a>
        <a href="/content/service">
            <div>
                <div class="img img2"></div>
                <h1>Servis</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/marketing">
            <div>
                <div class="img img3"></div>
                <h1>Pazarlama </h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/reporting">
            <div>
                <div class="img img4"></div>
                <h1>Gelişmiş<br />Raporlama</h1>
                <p>Esnek şekilde yönetilebilen raporlar ve dasboard</p>
            </div>
        </a>
        <a href="/content/workflow">
            <div>
                <div class="img img5"></div>
                <h1>Akışlarınıza<br />Eksiksiz Uyum</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
        <a href="/content/integration">
            <div>
                <div class="img img6"></div>
                <h1 style="margin-bottom: 28px;">Entegrasyon</h1>
                <p>İş Akışlarınıza uygun sihirbaz yardımı ile yeni modüller oluşturma imkanı</p>
            </div>
        </a>
    </div>
    <div class="bottom"></div>
</div>
<div class="light">
    <div class="content">
        <h1 style="text-align: center;margin:0 0 30px 0">Sektörünüz için CRM</h1>
        <div class="accordion">
            <ul>
                <li><a href="#saglik" style="border-bottom:7px solid #333"><div class="icon1"></div>Sağlık</a></li>
                <li><a href="#insaat"><div class="icon2"></div>İnşaat</a></li>
                <li><a href="#tuketici"><div class="icon3"></div>Tüketici Ürünleri</a></li>
                <li><a href="#diger"><div class="icon4"></div>Diğer Sektörler</a></li>
            </ul>
            <div class="accordion-content">
                <div class="saglik" style="display: block;">
                   Sağlık Text coming soon
                </div>
                <div class="insaat">İnşaat text coming soon</div>
                <div class="tuketici">Tüketici text coming soon</div>
                <div class="diger">Diğer Sektörler coming soon</div>
            </div>
        </div>


    </div>
</div>
<div id="modalBack"></div>
<form method="post">
    <div class="modal fadeInLeft animated" >
        <a id="close" class="close_modal">x</a>
        <div class="modal-header" style="min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5;">
            <h2>Sizi Arayalım</h2>
        </div>
        <div class="modal-body" id="mail" style="position: relative; padding: 15px; ">
            <div style="float: left; margin: 10px 0">
                <label>Adınız Soyadınız</label>
                <input type="text" name="Ad" value="" required />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Telefon Numaranız</label>
                <input type="tel" name="Telefon" id="phone" value="" required />
            </div>
            <div style="float: left; margin: 10px 0">
                <label>Sizi Ne Zaman Arayalım ?</label>
                <select id="SelectTime">
                    <option value="1">Hemen</option>
                    <option value="2">Tarih/Saat Belirlemek İstiyorum</option>
                </select>
            </div>
            <div style="float: left; margin: 10px 0; display: none;">
                <label>Tarih / Saat</label>
                <input type="text" id="datetime" name="mesaj" />
            </div>
            <div style="width: 100%; float: left; margin: 10px 0">
                @Html.AntiForgeryToken()
                <button id="send" style="border: none; color: #fff; padding: 10px; margin-top: 14px; width: 100px; transition: 1s; background: #01579b; font-size: 15px; font-family: 'open_sansbold'" type="submit">Gönder</button>
            </div>
        </div>
        <div class="modal-footer" style="padding: 15px;"></div>
    </div>
</form>    