<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content" style="color: #fff">

        <div class="backContent" style="margin-bottom:5px">
            <h2 style="margin-bottom:24px;">KISA SÜREDE KURULUM</h2>
            <p><img src="/Publics/img/ok.png" class="ok"/> 5 dakikada kurulum.(Sektör bazlı tanımlı standart ekranlar)</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> 5 dakikada ekranlara size özel ek alanlar tanımlama özelliği</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> 15 dakikada size özel ekran tasarımı imkanı</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> 30 dakikada excelden verileri içeri aktarma.(Cariler,ürünler,yedek parçalar,formlar, v.s.)</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> Kolay öğrenim ve kısa sürede canlıya geçiş</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> 15 dakikada standart dışındaki rapor tasarımları</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> 3 dakika da anlık filtreleme ve raporlama imkanı</p>
            <p><img src="/Publics/img/ok.png" class="ok"/> Tüm Mobil cihazların ekranları ile uyumlu çalışır</p>
        </div>

        <div class="backContent" style="margin-bottom:5px">
            <h2 style="margin-bottom:24px;">TEKNİK ÖZELLİKLER</h2>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kendi ihtiyaçlarınız doğrultusunda istediğiniz modülleri oluşturabilirsiniz</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>İstediğiniz şablonu ve raporu kendiniz tasarlayıp sisteme ekleyebilirsiniz</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Responsive yapı ve farklı temalar ile ekran tasarım imkanı sunar</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Çoklu dil desteği ile firma bazlı farklı dilde kullanım imkanı sağlar</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Excel deki formülleri rahatlıkla uygulayabilirsiniz</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kendiniz javascript yazarak kendinize özgü geliştirme yapabilirsiniz</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Geliştirilmiş API ile diğer uygulamalar ile entegrasyon yapılabilir(Logo,Mikro,Netsis,Eta, kendi web siteniz)</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Bulut mimarisine göre geliştirilmiş ve tam veri güvenliği sağlanmıştır.</p>
        </div>

        <div class="backContent">
            <h2 style="margin-bottom:24px;">SAĞLAYACAĞI DOĞRUDAN FAYDALAR</h2>
            <p><img src="/Publics/img/ok.png" class="ok"/>Analitik CRM yapısı ile kritik kararlarda size yardımcı olur.</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kullanıcı bazlı fiyatlandırma ile düşük maliyetlidir</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>2 yıl içinde Pazarlama ve Satış Masraflarında % 10 azalma sağlar</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>2 yıl içinde Müşteri kazanma oranında %6 artış</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Müşteri Memnuniyetinde %8-10 artış</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>2 yıl içinde Satış gelirlerinde %10-15 artış</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kar marjında %2-8 artış (Sektöre göre değişkenlik gösterir)</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>İş süreçlerini optimize ederek verimliliği artırır</p>
        </div>

        <div class="backContent">
            <h2 style="margin-bottom:24px;">SAĞLAYACAĞI DOLAYLI FAYDALAR</h2>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kar getirecek müşteri kazanmak ve uzun süre elde tutmak</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Kar getirmeyen müşteriyi elden çıkarmak</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Ek/fazladan ürün satışını arttırmak</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Diğer ürünleri çapraz satmak</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Tavsiye yararlarını değerlendirmek</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Müşteri hizmetlerinin harcamalarını düşürmek</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Müşteri segmentasyonuna yardımcı olmak</p>
            <p><img src="/Publics/img/ok.png" class="ok"/>Müşteri hakkında her zaman güncel ve doğru bilgiye sahip olmak</p>
        </div>
    </div>
</div>
