<div class="banner" style="height:450px "></div>
<div class="dark">
    <div class="top" style="transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);"></div>
    <div class="content" style="color: #fff">

        <div class="backContent" style="margin-bottom:100px">
            <h2 style="margin-bottom:24px;">ÇOK KISA SÜREDE KURULUM VE DEVREYE ALMA</h2>
            <p>5 dakikada kurulum.(Sektör bazlı tanımlı standart ekranlar)</p>
            <p>5 dakikada ekranlara size özel ek alanlar tanımlama özelliği</p>
            <p>15 dakikada size özel ekran tasarımı imkanı</p>
            <p>30 dakikada excelden verileri içeri aktarma.(Cariler,ürünler,yedek parçalar,formlar, v.s.)</p>
            <p>Kolay öğrenim ve kısa sürede canlıya geçiş</p>
            <p>15 dakikada standart dışındaki rapor tasarımları</p>
            <p>3 dakika da anlık filtreleme ve raporlama imkanı</p>
            <p>Tüm Mobil cihazların ekranları ile uyumlu çalışır</p>
        </div>

        <div class="backContent" style="margin-bottom:100px">
            <h2 style="margin-bottom:24px;">TEKNİK ÖZELLİKLER</h2>
            <p>Kendi ihtiyaçlarınız doğrultusunda istediğiniz modülleri oluşturabilirsiniz</p>
            <p>İstediğiniz şablonu ve raporu kendiniz tasarlayıp sisteme ekleyebilirsiniz</p>
            <p>Responsive yapı ve farklı temalar ile ekran tasarım imkanı sunar</p>
            <p>Çoklu dil desteği ile firma bazlı farklı dilde kullanım imkanı sağlar</p>
            <p>Excel deki formülleri rahatlıkla uygulayabilirsiniz</p>
            <p>Kendiniz javascript yazarak kendinize özgü geliştirme yapabilirsiniz</p>
            <p>Geliştirilmiş API ile diğer uygulamalar ile entegrasyon yapılabilir(Logo,Mikro,Netsis,Eta, kendi web siteniz)</p>
            <p>Bulut mimarisine göre geliştirilmiş ve tam veri güvenliği sağlanmıştır.</p>
        </div>

        <div class="backContent">
            <h2 style="margin-bottom:24px;">SAĞLAYACAĞI DOĞRUDAN FAYDALAR</h2>
            <p>Analitik CRM yapısı ile kritik kararlarda size yardımcı olur.</p>
            <p>Kullanıcı bazlı fiyatlandırma ile düşük maliyetlidir</p>
            <p>2 yıl içinde Pazarlama ve Satış Masraflarında % 10 azalma sağlar</p>
            <p>2 yıl içinde Müşteri kazanma oranında %6 artış</p>
            <p>Müşteri Memnuniyetinde %8-10 artış</p>
            <p>2 yıl içinde Satış gelirlerinde %10-15 artış</p>
            <p>Kar marjında %2-8 artış (Sektöre göre değişkenlik gösterir)</p>
            <p>İş süreçlerini optimize ederek verimliliği artırır</p>
        </div>

        <div class="backContent">
            <h2 style="margin-bottom:24px;">SAĞLAYACAĞI DOLAYLI FAYDALAR</h2>
            <p>Kar getirecek müşteri kazanmak ve uzun süre elde tutmak</p>
            <p>Kar getirmeyen müşteriyi elden çıkarmak</p>
            <p>Ek/fazladan ürün satışını arttırmak</p>
            <p>Diğer ürünleri çapraz satmak</p>
            <p>Tavsiye yararlarını değerlendirmek</p>
            <p>Müşteri hizmetlerinin harcamalarını düşürmek</p>
            <p>Müşteri segmentasyonuna yardımcı olmak</p>
            <p>Müşteri hakkında her zaman güncel ve doğru bilgiye sahip olmak</p>
        </div>
    </div>
</div>
