<html>
<head>
    <title>CRM Yazılımı ve Bulut Yazılımlar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Publics/css/main.css" rel="stylesheet" />
    <link href="/Publics/css/jquery.datetimepicker.css" rel="stylesheet" />
    <meta name="description" content="İş Akışlarınıza göre uyarlanabilen, düşük maliyetli Bulut CRM. Kısa bir süreliğine ilk 3 ay bedava." />
    <meta name="keywords" content="Bulut CRM,Satış,Servis,Pazarlama,Satın Alma,Görev Takibi,İş Akışları Yazılımı,CRM,BPM,Teklif Yazılımı,Mobil Sipariş Yazılımı,Mobil CRM,Müşteri İlişkileri Yönetimi,Servis Yazılımı, Servis Programı,Teklif Programı, CRM Yazılımı,CRM programı,Bulut Uygulama" />
    <meta name="author" content="Argeset Yazılım" />
    <link rel="canonical" href="http://www.setcrm.com/"/>
    <link rel="icon" href="/Publics/img/favicon.ico" type="image/x-icon" />
   
</head>
<body>
    <header>
        <div class="logoBg"></div>
        <h1 class="logo fadeInLeft animated"><a href="/home/index">SetCRM</a></h1>
        <div class="lang">
            @*<a href="#"><img src="img/en.png" alt="English" /></a>*@
        </div>
        <nav class="login fadeInRight animated">
            <a href="//maya.setcrm.com" target="_blank">Giriş</a>
            <a href="//maya.setcrm.com/user/new" target="_blank">Kaydol</a>
        </nav>
        <nav class="menu fadeInRight animated">
            <a href="/property/index">Özellikler</a>
            <a href="/content/customers">Müşteriler</a>
            <a href="http://blog.setcrm.com" target="_blank">Blog</a>
            <a href="http://yardim.setcrm.com" target="_blank">Destek</a>
            <a href="/contact/index">İletişim</a>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div>
            <a class="tw" href="https://twitter.com/argesetyazilim" target="_blank">SetCRM Twitter</a>
            <a class="ln" href="https://tr.linkedin.com/company/argeset-yaz-l-m-dan-san-tic-ltd-ti" target="_blank">SetCRM Linkedin</a>
            <a class="fb" href="https://www.facebook.com/argesetsetcrm" target="_blank">SetCRM Facebook</a>
            <a class="yt" href="#" target="_blank">SetCRM Youtube</a>
        </div>
        <strong><a style="color: #fff" href="http://argeset.com/" target="_blank">Argeset</a> SetCRM &copy; 2015</strong>
        <nav>
            <a href="http://yardim.setcrm.com" target="_blank">Destek</a>
            <a href="/contact/index">İletişim</a>
            <a href="/content/privacyagreement">Gizlilik Sözleşmesi</a>
            <a href="/content/termsofuse">Kullanım Koşulları</a>
        </nav>
    </footer>
    <script src="/Publics/js/jquery.2.1.0.js"></script>
    <script src="/Publics/js/jquery.mask.js"></script>
    <script src="/Publics/js/jquery.datetimepicker.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('header').css('height', '55px').css('background', 'rgba(33, 33, 33, 0.81)');
                $('header nav.menu  a').css('line-height', '55px').css('font-size', '16px').css('color', '#fff');
                $('header nav.login a').css('margin-top', '13px');
                $('.logo a').css('line-height', '55px').css('font-size', '38px');
            } else {
                $('header').css('height', '89px').css('background', 'rgba(255, 255, 255, 0.50)');
                $('header nav.menu  a').css('line-height', '89px').css('font-size', '18px').css('color', '#212121');
                $('header nav.login a').css('margin-top', '29px');
                $('.logo a').css('line-height', '89px').css('font-size', '44px');
            }
        });
        $('#phone').mask('(000) 000-0000');

        $(".modal-body p:contains('Mail Başarıyla İletilmiştir.Teşekkürler.')").closest('.modal').css("display", "block");
        if ($('.modal').css('display') == 'block') {
            $('#modalBack').css('display', 'block');
        }

        $('.siziarayalim').click(function () {
            $('.modal').css("display", "block");
            $('#modalBack').css('display', 'block');
        });

        $('#modalBack, .modal .close_modal').click(function () { $('.modal_content, .modal, #modalBack').css('display', 'none'); });

        $('#datetime').val('Hemen');
        $("#SelectTime").change(function () {
            var select = $('#SelectTime option:selected');
            if (select.val() == "2") {
                $('#datetime').val('');
                $('#datetime').closest('div').css('display', 'block');
                $('#datetime').datetimepicker();

            } else {
                $('#datetime').closest('div').css('display', 'none');
                $('#datetime').val('Hemen');
            }
        });

        $('.accordion ul li a').click(function () {
            $('.accordion ul li a').css('border-bottom', '0');
            $('.accordion ul li a').removeClass('bluehover');
            $(this).css('border-bottom', '7px solid #095b93').addClass('bluehover');
            var deger = $(this).attr('href').replace('#', '');
            $('.accordion-content div').css('display', 'none');
            $('.accordion-content .' + deger + '').css('display', 'block');

        });

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63399792-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>