<html>
<head>
    <title>Müşteri İlişkileri Yönetimi / SetCRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Publics/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logoBg"></div>
        <h1 class="logo fadeInLeft animated"><a href="/home/index">SetCRM</a></h1>
        <div class="lang">
            @*<a href="#"><img src="img/en.png" alt="English" /></a>*@
        </div>
        <nav class="login fadeInRight animated">
            <a href="//maya.setcrm.com" target="_blank">Giriş</a>
            <a href="//maya.setcrm.com/user/new" target="_blank">Kaydol</a>
        </nav>
        <nav class="menu fadeInRight animated">
            <a href="/property/index">Özellikler</a>
            <a href="/content/customers">Müşteriler</a>
            <a href="http://blog.setcrm.com" target="_blank">Blog</a>
            <a href="http://yardim.setcrm.com" target="_blank">Destek</a>
            <a href="/contact/index">İletişim</a>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div>
            <a class="tw" href="#">SetCRM Twitter</a>
            <a class="ln" href="#">SetCRM Linkedin</a>
            <a class="fb" href="#">SetCRM Facebook</a>
            <a class="yt" href="#">SetCRM Youtube</a>
        </div>
        <strong>Argeset SetCRM &copy; 2015</strong>
        <nav>
            <a href="http://yardim.setcrm.com" target="_blank">Destek</a>
            <a href="/contact/index">İletişim</a>
            <a href="/content/privacyagreement">Gizlilik Sözleşmesi</a>
            <a href="/content/termsofuse">Kullanım Koşulları</a>
        </nav>
    </footer>
    <div id="nav_down" style="position: absolute; z-index: 9999; width: 80px; height: 80px;overflow: hidden; bottom: 84px; margin-left: calc(50% - 40px); cursor: pointer">
        <img src="/Publics/img/scroll-down.png" alt="Scroll" style="margin-left: 20px; margin-top: 20px; width: 40px;" />
    </div>
    <script src="/Publics/js/jquery.2.1.0.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('header').css('height', '55px').css('background', 'rgba(33, 33, 33, 0.81)');
                $('header nav.menu  a').css('line-height', '55px').css('font-size', '16px').css('color', '#fff');
                $('header nav.login a').css('margin-top', '13px');
                $('.logo a').css('line-height', '55px').css('font-size', '38px');
            } else {
                $('header').css('height', '89px').css('background', 'rgba(255, 255, 255, 0.50)');
                $('header nav.menu  a').css('line-height', '89px').css('font-size', '18px').css('color', '#212121');
                $('header nav.login a').css('margin-top', '29px');
                $('.logo a').css('line-height', '89px').css('font-size', '44px');
            }
        });
        $("a[href='#step1']").click(function () {
            $("html, body").animate({ scrollTop: 1500 }, "slow");
            return false;
        });
        $("a[href='#step2']").click(function () {
            $("html, body").animate({ scrollTop: 2150 }, "slow");
            return false;
        });
        $("a[href='#step3']").click(function () {
            $("html, body").animate({ scrollTop: 2900 }, "slow");
            return false;
        });

        $('#nav_down').click(
		function (e) {
		    $('html, body').animate({ scrollTop:800 }, 800);
		});
        $(function () {
            setInterval(function () {
                $("#nav_down").fadeOut("slow").fadeIn("slow");
            }, 1000);
        });
        
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63399792-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>